<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title">업체 기본정보</h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-body">
											<h4 class="header-title mt-0">회사 기본정보</h4>
											<p class="sub-header">
												수정에 유의하며 수정 시 변경내용을 다시한번 확인 후 저장버튼을 눌러주시기 바랍니다.
												<br>
												업체 기본 정보는
												<code>기업체명</code>
												,
												<code>대표자명</code>
												,
												<code>본사주소</code>
												,
												<code>본사연락처</code>
												,
												<code>법인(주민)등록 번호</code>
												,
												<code>사업자 등록 번호</code>
												,
												<code>업종</code>
												,
												<code>팩스</code>
												,
												<code>회사이메일</code>
												,
												<code>홈페이지 주소</code>
												,
												<code>150인 우선 기업 여부</code>
												,
												<code>설립일</code>
												의 정보를 담고있습니다.
											</p>

											<form class="form-horizontal" method="post" action="/mngBasicInformation/company">
												<div class="row">
													<div class="col">
														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label" for="simpleinput">기업체명</label>
															<div class="col-lg-10">
																<input  type="text" class="form-control" name="companyName" th:value="${companyInfo.companyName}">
															</div>
														</div>

														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label" for="simpleinput">본사
																주소</label>
															<div class="col-lg-7">
																<input type="text" class="form-control" id="companyAddress" name="address" readonly="readonly"th:value="${companyInfo.address}">
															</div>
															<div class="col-lg-3">
																<button type="button" id="address" class="btn btn-info">주소 찾기</button>
															</div>
														</div>
														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label" for="simpleinput">상세주소</label>
															<div class="col-lg-10">
																<input type="text" class="form-control" id="address_detail" name="addressDetail" th:value="${companyInfo.addressDetail}">
															</div>
														</div>
														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label"
																for="example-number">법인(주민)등록 번호</label>
															<div class="col-lg-2">
																<input class="form-control" id="example-number"
																	type="text" name="identificationNo1" th:value="${companyInfo.identificationNo.substring(0,6)}">
															</div>
															_
															<div class="col-lg-2">
																<input class="form-control" id="example-number"
																	type="text" name="identificationNo2" th:value="${companyInfo.identificationNo.substring(7,14)}">
															</div>
														</div>
														
														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label"
																for="example-number">본사 연락처</label>
															<div class="col-lg-10">
																<input class="form-control" id="example-number"
																	type="text" name="phone" th:value="${companyInfo.phone}">
															</div>
														</div>

														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label"
																for="example-email">회사 이메일</label>
															<div class="col-lg-10">
																<input type="email" id="example-email"
																	class="form-control"  name="managerEmail" th:value="${companyInfo.managerEmail}">
															</div>
														</div>
														

														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label" align="center">150인
																우선 기업 여부</label>
															<div class="col-lg-10">
																<select class="form-select" name="firstCompanyYn" >
																	<option th:selected="${companyInfo.firstCompanyYn}=='Y'"  value='Y'>해당</option>
																	<option th:selected="${companyInfo.firstCompanyYn}=='N'" value='N'>비해당</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col">
													<div class="mb-3 row">
															<label class="col-lg-2 col-form-label" for="simpleinput" style="height: 40px"></label>
															<div class="col-lg-10">
															</div>
														</div>
														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label" for="simpleinput">대표자명</label>
															<div class="col-lg-10">
																<input type="text" class="form-control" name="ceoName" th:value="${companyInfo.ceoName}">
															</div>
														</div>
														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label" for="simpleinput" th:value="${companyInfo.companyName}">업종</label>
															<div class="col-lg-7">
																<input type="text" class="form-control" id="keyword" th:value="${companyInfo.businessName} +' : ' + ${companyInfo.businessDetail}" >
																<input type="text" class="form-control" id="keywordNo" name="businessCode" th:value="${companyInfo.businessCode}" hidden="hidden">
															</div>
															<div class="col-lg-3">
																<button type="button" id="businessListSelect" class="btn btn-info"data-bs-toggle="modal"
																		data-bs-target="#centermodal">업종
																	검색</button>
															</div>
														</div>
														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label"
																for="example-number">사업자 등록 번호</label>
															<div class="col-lg-2">
																<input class="form-control" id="example-number"
																	type="text" name="companyRegistrationNo1" th:value="${companyInfo.companyRegistrationNo.substring(0,3)}">
															</div>
															_
															<div class="col-lg-2">
																<input class="form-control" id="example-number"
																	type="text" name="companyRegistrationNo2" th:value="${companyInfo.companyRegistrationNo.substring(4,6)}">
															</div>
															_
															<div class="col-lg-2">
																<input class="form-control" id="example-number"
																	type="text" name="companyRegistrationNo3" th:value="${companyInfo.companyRegistrationNo.substring(7,12)}">
															</div>
														</div>
														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label"
																for="example-number">팩스 번호</label>
															<div class="col-lg-10">
																<input class="form-control" id="example-number"
																	type="text" name="fax"th:value="${companyInfo.fax}">
															</div>
														</div>
														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label">홈페이지 주소</label>
															<div class="col-lg-10">
																<input class="form-control" type="url" name="website" th:value="${companyInfo.website}">
															</div>
														</div>
														<div class="mb-3 row">
															<label class="col-lg-2 col-form-label" for="example-date">설립일</label>
															<div class="col-lg-10">
																<input class="form-control" id="example-date"
																	type="date" name="foundingDate" th:value="${companyInfo.foundingDate}">
															</div>
														</div>

															<div align="right" >
															<button type="submit" class="btn btn-info">저장</button>
															<button type="reset" class="btn btn-success"style="margin-left: 10px"  id="cancel">취소</button>
														</div>
													</div>
												</div>
											</form>

										</div>
										<!-- end card-body -->
									</div>
									<!-- end card-->
								</div>
								<!-- end col -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
			<div class="modal fade" id="centermodal" tabindex="-1" role="dialog"
		aria-labelledby="myCenterModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header" style="background-color: gray">
					<h5 class="modal-title" id="myCenterModalLabel"
						style="font-size: 20px">
						<b>업종 검색</b>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					 <label	style="margin: 10px;">업종 코드&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;업종명&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;업종(세부)</label> <br> <select
						class="form-select" id="businessList" name="businessList">
						<option></option>

					</select> 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success width-xs" data-bs-dismiss="modal"
						id="selectBusiness">선택</button>
				
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<!-- 모달창 종료 -->
		</div>
	</div>
		<script>
window.onload = function(){
    document.getElementById("address").addEventListener("click", function(){ //주소입력칸을 클릭하면
        //카카오 지도 발생
        new daum.Postcode({
            oncomplete: function(data) { //선택시 입력값 세팅
                document.getElementById("companyAddress").value = data.address; // 주소 넣기
                document.querySelector("input[name=addressDetail]").focus(); //상세입력 포커싱
            }
        }).open();
    });
}

$('#businessListSelect').click(function() {
	const keyword = $('#keyword').val();
console.log(keyword);
     $.ajax({
           url: "selectBusinessList",
    	  data: {   "keyword" : keyword },
       success: function(data, status, xhr) {
    	   
					const $businessList = $("#businessList");
					$businessList.html("");
					
					for(let index in data) {
						$input = $("<option>").text(data[index].businessName +" : "+ data[index].businessDetail).val(data[index].idx);
						$businessList.append($input);
					}
						
				},
				error: function(xhr, status, error) {
					console.log(error);
				}
       });
});
$('#selectBusiness').click(function() {
	const $value = $('#businessList').val();
	const $name = $('#businessList option:selected').text();
	const $keyword = $("#keyword");
	const $keywordNo = $("#keywordNo");
	$keyword.html("");
	$keywordNo.html("");
	
	console.log($value);
	console.log($name);
	$keyword.val($name);
	$keywordNo.val($value);
});
</script>
</body>
</html>