<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-9">
							<br>
							<div class="page-title-box">
								<h3 class="page-title">부서 관리</h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							<!-- tasks panel -->
							<div class="row">
								<div class="col-xl-12">
									<div class="row">
										<div class="col">
											<div class="card">
												<div class="card-body">
													<!-- cta -->
													<div class="row">
														<div class="form-check float-start">
															<h4 class="header-title mt-0">
																부서 목록
																<div class="dropdown float-end">
																	<button type="button" class="btn btn-warning"
																		id="departmentList" data-bs-toggle="modal"
																		data-bs-target="#centermodal">부서 추가</button>
																</div>
															</h4>
														</div>
														<hr class="my-2" />
													</div>
													<div class="row mt-3">
														<div class="col">
															<div class="tasks border"
																th:each="dept,num:${departmentList}">
																<h5 class="mt-0 task-header header-title"
																	th:text="${dept.departmentName}"></h5>
																<div class="task-list-items">
																	<!-- Task Item -->
																	<div class="card border mb-0">
																		<div class="card-body p-2">
																			<div class="dropdown float-end">
																				<a href="#"
																					class="dropdown-toggle text-muted arrow-none"
																					data-bs-toggle="dropdown" aria-expanded="false">
																					<i class="uil uil-ellipsis-v fs-14"></i>
																				</a>
																				<div class="dropdown-menu dropdown-menu-end">
																					<!-- item-->
																					<a class="dropdown-item" type="submit"
																						th:id="'editDepartment' + ${num.count}"
																						th:value="${dept.departmentNo}"
																						data-bs-toggle="modal" data-bs-target="#editModal">
																						<i class="uil uil-edit-alt me-2"></i>수정 <input
																						th:value="${dept.departmentNo}"
																						th:id="departmentNo" hidden="hidden">
																					</a>
																					<div class="dropdown-divider"></div>
																					<!-- item-->
																					<a	th:id="'deleteDepartment' + ${num.count}"
																						class="dropdown-item text-danger"> <i
																						class="uil uil-trash me-2"></i>삭제하기<input
																						th:value="${dept.departmentNo}"
																						th:id="deleteDepartmentNo" hidden="hidden">
																						
																					</a>
																				</div>
																			</div>
																			<span class="badge badge-soft-warning">부서명 : </span>
																			<span class="badge badge-soft-danger"
																				th:text="${dept.departmentName}"></span>
																				<br>
																				<span class="badge badge-soft-warning">부서번호 : </span>
																				<span class="badge badge-soft-danger" th:text="${dept.departmentNo}"></span>
																				<br>
																				<span class="badge badge-soft-warning">부서 연락처 : </span>
																				<span class="badge badge-soft-danger" th:text="${dept.departmentPhone}"></span>


																			<p class="mb-0 mt-4">
																				<span class="text-nowrap align-middle fs-13 me-2" th:id="listMember" data-bs-toggle="modal" data-bs-target="#listModal">
																				<input th:value="${dept.departmentNo}"
																						th:id="memberDepartmentNo" hidden="hidden">
																					<i class="uil uil-user text-muted me-1"></i><a th:text="${dept.memberCount}"></a>
																				</span>
																				<span style="float: right"><small>부서 생성일 :&nbsp;&nbsp;</small><small class="float-end text-muted"
																					th:text="${dept.departmentCreateDate}"></small></span> 
																			</p>
																		</div>
																		<!-- end card-body -->
																	</div>
																	<!-- Task Item End -->
																</div>
															</div>
															<!-- start other tasks -->
														</div>
														<span align="right">
																<code >* </code><i class="uil uil-user text-muted me-1"></i><a>클릭시 부서 내에 인원을 조회할 수 있습니다.</a>
														</span>
													</div>
													<!-- end row -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- container -->
					</div>
				</div>
			</div>
		</div>
		<div th:include="common/footer.html"></div>
	</div>
	<!-- 부서 인원 모달 -->
	<div class="modal fade" id="listModal" tabindex="-1" role="dialog"
		aria-labelledby="myCenterModalLabel1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header" style="background-color: gray">
					<h5 class="modal-title" id="myCenterModalLabel1"
						style="font-size: 20px">
						<b>부서 인원 명단</b>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table
						class="table table-striped dt-responsive nowrap w-100 text-center" id="tableMember">
						<thead>
							<tr>
								<th>부서명</th>
								<th>사번</th>
								<th>직책</th>
								<th>성명</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>							
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-warning width-xs"
						data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- 부서 수정 모달 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myCenterModalLabel1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header" style="background-color: gray">
					<h5 class="modal-title" id="myCenterModalLabel1"
						style="font-size: 20px">
						<b>부서 수정</b>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<code style="float: right">* 표기는 필수 입력항목입니다.</code>
					<br> <label style="margin: 10px;">부서명 <span
						style="color: red">*</span></label> <input type="text" id="selectedDeptNo"
						hidden="hidden"> <br> <input class="form-control"
						type="text" placeholder="부서명" name="selectedDeptName"
						id="selectedDeptName" required="required"> <br> <label
						style="margin: 10px;">상위 부서명</label> <br> <select
						class="form-select" id="selectedUpperDept"
						name="selectedUpperDept">
						<option></option>

					</select> <br> <label style="margin: 10px;">부서 생성일<span
						style="color: red">*</span></label> <br> <input class="form-control"
						type="date" placeholder="부서 생성일" name="selectedCreateDate"
						id="selectedCreateDate"> <br> <label
						style="margin: 10px;">부서 연락처</label> <br> <input
						class="form-control" type="text" placeholder="부서 연락처"
						name="selectedDeptPhone" id="selectedDeptPhone"> <br>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success width-xs"
						id="updateDepartment">수정</button>
					<button type="reset" class="btn btn-warning width-xs"
						data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- 부서 수정 모달 끝 -->

	<!-- 모달창 시작 -->
	<div class="modal fade" id="centermodal" tabindex="-1" role="dialog"
		aria-labelledby="myCenterModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header" style="background-color: gray">
					<h5 class="modal-title" id="myCenterModalLabel"
						style="font-size: 20px">
						<b>부서 추가</b>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<code style="float: right">* 표기는 필수 입력항목입니다.</code>
					<br> <label style="margin: 10px;">부서명 <span
						style="color: red">*</span></label> <br> <input class="form-control"
						type="text" placeholder="부서명" name="departmentName"
						id="departmentName" required="required"> <br> <label
						style="margin: 10px;">상위 부서명</label> <br> <select
						class="form-select" id="upperDepartment" name="upperDepartment">
						<option></option>

					</select> <br> <label style="margin: 10px;">부서 생성일<span
						style="color: red">*</span></label> <br> <input class="form-control"
						type="date" placeholder="부서 생성일" name="departmentCreatedDate"
						id="departmentCreateDate"> <br> <label
						style="margin: 10px;">부서 연락처</label> <br> <input
						class="form-control" type="text" placeholder="부서 연락처"
						name="departmentPhone" id="departmentPhone"> <br>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success width-xs"
						id="createDepartment">등록</button>
					<button type="reset" class="btn btn-warning width-xs"
						data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<!-- 모달창 종료 -->
	<script>
	$("[id^=deleteDepartment]").click(function() {
		const deptNo = $(this).find('#deleteDepartmentNo').val();
	console.log(deptNo);
	Swal.fire({
		  title: '삭제하시겠습니까?',
		  text: '부서내의 모든 내용이 삭제됩니다.',
		  icon: 'warning',
		  showCancelButton: true,
		  confirmButtonColor: '#25c2e3',
		  cancelButtonColor: '#43d39e',
		  confirmButtonText: '예',
		  cancelButtonText: '아니오'
		}).then((result) => {
			if (result.isConfirmed) {
				$.ajax({
			           url: "deleteDepartment",
			    	  data: {   "seletedDepartmentNo" : deptNo },
			       success: function(data, status, xhr) {
			    	   
			    	   Swal.fire({
			       			  position: 'center',
			       			  icon: 'success',
			       			  title: '부서 삭제에 성공하였습니다.',
			       			  showConfirmButton: false,
			       			  timer: 1500,
			       			  width: 600
			       		}).then((result) => {
				        	   location.reload();
			       				})
			           }, error: function(xhr){
			        	   Swal.fire({
				       			  position: 'center',
				       			  icon: 'error',
				       			  title: '부서 삭제에 실패하였습니다.',
				       			  showConfirmButton: false,
				       			  timer: 1500,
				       			  width: 600
				       		}).then((result) => {
					        	   location.reload();
				       				})
			           }
			       });
			  } else if (result.isDenied) {
			  }
		})
	});
	
	$("[id^=listMember]").click(function() {
		const deptNo = $(this).find('#memberDepartmentNo').val();
	console.log(deptNo);
	     $.ajax({
	           url: "memberDepartment",
	    	  data: {   "seletedDepartmentNo" : deptNo },
	       success: function(data, status, xhr) {
	    	   if(data == 0){
	    		   Swal.fire({
		       			  position: 'center',
		       			  icon: 'success',
		       			  title: '부서에 해당되는 인원이 없습니다.',
		       			  showConfirmButton: false,
		       			  timer: 1500,
		       			  width: 600
		       		}).then((result) => {
			        	   location.reload();
		       				})
	    	   }else{
	    		   const $table = $("#tableMember tbody");
					$table.html("");
					
					for(let index in data) {
						$tr = $("<tr>");
						$departmentNameTd = $("<td>").text(data[index].departmentName);
						$memberNoTd = $("<td>").text(data[index].memberNo);
						$jobNameTd = $("<td>").text(data[index].jobName);
						$koreanNameTd = $("<td>").text(data[index].koreanName);
						
						$tr.append($departmentNameTd);
						$tr.append($memberNoTd);
						$tr.append($jobNameTd);
						$tr.append($koreanNameTd);
						
						$table.append($tr);
					}
	    	   }
	    	  
							
					},
					error: function(xhr, status, error) {
						console.log(error);
					}
	       });
	});
	
	
	$("[id^=editDepartment]").click(function() {
		const deptNo = $(this).find('#departmentNo').val();
	console.log(deptNo);
	     $.ajax({
	           url: "editDepartment",
	    	  data: {   "seletedDepartmentNo" : deptNo },
	       success: function(data, status, xhr) {
	    	   
						const $selected = $("#selectedUpperDept");
						const $selectedDepartmentNo = $("#selectedDeptNo");
						const $selectedDepartmentName = $("#selectedDeptName"); 
						const $selectedCreatedDate = $("#selectedCreateDate");
						const $selectedDeptPhoneNo = $("#selectedDeptPhone");
						$selected.html("");
						$selectedDepartmentName.html("");
						$selectedDeptPhoneNo.html("");
						
						$selectup = $("<option>").text("현재 상위 부서 : " +data["selectedDepartment"].upperDepartmentName).val(data["selectedDepartment"].upperDepartment);
						$selected.append($selectup);
						
						for(let index in data["departmentList"]) {
							$input = $("<option>").text(data["departmentList"][index].departmentName).val(data["departmentList"][index].departmentNo);
							$selected.append($input);
						}
							$selectedNo = $selectedDepartmentNo.text(data["selectedDepartment"].departmentNo).val(data["selectedDepartment"].departmentNo);
							$selectedName = $selectedDepartmentName.text(data["selectedDepartment"].departmentName).val(data["selectedDepartment"].departmentName);
							$selectedDate = $selectedCreatedDate.val(data["selectedDepartment"].departmentCreateDate.slice(0, 10));
							$selectedPhone = $selectedDeptPhoneNo.text(data["selectedDepartment"].departmentPhone).val(data["selectedDepartment"].departmentPhone);
							
					},
					error: function(xhr, status, error) {
						console.log(error);
					}
	       });
	});
	
	$("#updateDepartment").click(function() {
	       $.ajax({
	    	   type: "POST",
	           url: "/mngBasicInformation/updateDepartment",
	           data: {
	        	   "departmentNo" : $('#selectedDeptNo').val(),
	        	   "departmentName" : $('#selectedDeptName').val(),
	        	   "upperDepartment" : $('#selectedUpperDept').val(),
	        	   "departmentCreateDate" : $('#selectedCreateDate').val(),
	        	   "departmentPhone" : $('#selectedDeptPhone').val()},
	           success: function(data, status, xhr) {
	        	   
	           		Swal.fire({
	       			  position: 'center',
	       			  icon: 'success',
	       			  title: '부서 수정에 성공하였습니다.',
	       			  showConfirmButton: false,
	       			  timer: 1500,
	       			  width: 600
	       		}).then((result) => {
		        	   location.reload();
	       				})
	           }, error: function(xhr){
	        	   Swal.fire({
		       			  position: 'center',
		       			  icon: 'error',
		       			  title: '부서명 혹은 부서생성일자를 기입해주세요.',
		       			  showConfirmButton: false,
		       			  timer: 1500,
		       			  width: 600
		       		}).then((result) => {
			        	   location.href="#";
		       				})
	           }
	       });
	  });
	
	$("#departmentList").click(function() {
	       $.ajax({
	           url: "departmentList",
	       success: function(data, status, xhr) {
						
						const $option = $("#upperDepartment");
						$option.html("");
						$list = $("<option>").text("=================== 상위 부서명 ===================").val("");
						$option.append($list);
						
						for(let index in data) {
							$deptName = $("<option>").text(data[index].departmentName).val(data[index].departmentNo);
							
							$option.append($deptName);
						}
						
					},
					error: function(xhr, status, error) {
						console.log(error);
					}
	       });
	});
	
		  $("#createDepartment").click(function() {
		       $.ajax({
		    	   type: "POST",
		           url: "/mngBasicInformation/department",
		           data: {
		        	   "departmentName" : $('#departmentName').val(),
		        	   "upperDepartment" : $('#upperDepartment').val(),
		        	   "departmentCreateDate" : $('#departmentCreateDate').val(),
		        	   "departmentPhone" : $('#departmentPhone').val()},
		           success: function(data, status, xhr) {
		        	   
		           		Swal.fire({
		       			  position: 'center',
		       			  icon: 'success',
		       			  title: '부서 생성에 성공하였습니다.',
		       			  showConfirmButton: false,
		       			  timer: 1500,
		       			  width: 600
		       		}).then((result) => {
			        	   location.reload();
		       				})
		           }, error: function(xhr){
		        	   Swal.fire({
			       			  position: 'center',
			       			  icon: 'error',
			       			  title: '부서명 혹은 부서생성일자를 기입해주세요.',
			       			  showConfirmButton: false,
			       			  timer: 1500,
			       			  width: 600
			       		}).then((result) => {
				        	   location.href="#";
			       				})
		           }
		       });
		  });
		             
		        	  
		const $addNewDept = document.getElementById("addNewDept");
		$addNewDept.onclick = function() {
				location.href = ""

		}
		</script>
</body>
</html>