<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title">부서 변경 이력</h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
								<div>
								<label style="padding:10px;">변경일 </label><input type="date"><br>
								<label style="margin:15px;">검색</label>
								<select>
									<option value="deptName">부서명</option>
									<option value="memberName">종류</option>
								</select>
								<input type="text" style="margin:10px;"><button type="button" class="btn btn-outline-primary">검 색</button>
							</div>
							<br>
							<div class="card">
								<div class="card-body">
								<table class="table table-striped dt-responsive nowrap w-100 text-center">
									<thead>
										<tr>
											<th>번호</th>											
											<th>종류</th>											
											<th>부서 번호</th>											
											<th>부서명</th>											
											<th>부서 연락처</th>											
											<th>부서 생성일</th>											
											<th>추가/수정 일자</th>											
										</tr>
									</thead>
										
									<tbody>
										<tr th:each="dept : ${departmentHistory}">
											<td th:text="${dept.updatedHistoryNo}"></td>
											<td th:text="${dept.updatedCategory}"></td>
											<td th:text="${dept.departmentNo}"></td>
											<td th:text="${dept.departmentName}"></td>
											<td th:text="${dept.departmentPhone}"></td>
											<td th:text="${dept.departmentCreateDate}"></td>
											<td th:text="${dept.departmentUpdatedDate}"></td>
										</tr>
									</tbody>
								</table>
							   </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
		</div>
	</div>
</body>
</html>