<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title">보험 요율 관리</h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							<div class="row">
								<div class="col-lg-10">
									<div class="card">
										<div class="card-body">
											<h4 class="header-title mt-0 mb-1">
												보험 요율 수정
												<h4 class="header-title mt-0 mb-1" align="right">직원 수 :
												</h4>
											</h4>

											<div class="table-responsive">
												<table class="table table-bordered mb-0" align="center"
													style="vertical-align: middle">
													<thead align="center">
														<tr>
															<th scope="col">구 분</th>
															<th scope="col">기 준</th>
															<th scope="col">보험 요율</th>
															<th scope="col">근로자</th>
															<th scope="col">사업주</th>
															<th scope="col">비고</th>
														</tr>
													</thead>
													<tbody align="center">
														<tr>
															<th scope="row">국민연금</th>
															<td>기준 월 소득액</td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" required="required" th:value="${insuranceRate.nationalPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
															<td rowspan="3">10원 미만 단수 버림</td>
														</tr>
														<tr>
															<th scope="row" rowspan="2">건강보험</th>
															<td>건강 보험료</td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" required="required" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
														</tr>
														<tr>
															<td>장기 요양 보험료</td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" required="required" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly0" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
														</tr>
														<tr>
															<th scope="row" rowspan="5">고용보험</th>
															<td>실업 급여</td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" required  th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
															<td rowspan="5">고용안전 개발 능력 사업</td>
														</tr>
														<tr>
															<td>150인 미만</td>
															<td colspan="2" rowspan="4"></td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" required="required" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
														</tr>
														<tr>
															<td>150인 이상 우선 지원 대상</td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" required="required" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
														</tr>
														<tr>
															<td>150 ~ 1000인 미만</td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" required="required" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
														</tr>
														<tr>
															<td>1000인 이상 및 지자체</td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" required="required" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-10">
									<div class="card">
										<div class="card-body">
											<h4 class="header-title mt-0 mb-1">
												업종 산재 요율 <br>
											</h4>
											<div class="mb-3 row">
												<label class="col-lg-2 col-form-label" for="simpleinput">업종
													: </label>
												<div class="col-lg-2">
													<input type="text" class="form-control" id="simpleinput"
														value="Some text value..." readonly="readonly">
												</div>
											</div>
											<div class="table-responsive">
												<table class="table table-bordered mb-0" align="center"
													style="vertical-align: middle">
													<thead align="center">
														<tr>
															<th scope="col" colspan="3">구 분</th>
															<th scope="col">보험 요율</th>
														</tr>
													</thead>
													<tbody align="center">
														<tr>
															<th scope="row" rowspan="2">산재 요율</th>
															<td>업종 요율</td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly" th:value="${insuranceRate.industryRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly" th:value="${insuranceRate.workersPensionRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
														</tr>
														<tr>
															<td>출 · 퇴근 재해 요율</td>
															<td>전 업종 동일 요율 적용</td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly" th:value="${insuranceRate.commuteAccidentRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
														</tr>
														<tr>
															<th scope="row" colspan="2">임금 채권 부담금 비율</th>
															<td align="center">
																<div class="">
																	<input type="radio" id="customRadio1"
																		name="customRadio" class="form-check-input"> <label
																		class="form-check-label" for="customRadio1">해당&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;</label>
																	<input type="radio" id="customRadio2"
																		name="customRadio" class="form-check-input" checked>
																	<label class="form-check-label" for="customRadio2">비해당</label>
																</div>
															</td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" required="required" th:value="${insuranceRate.wageBondChargesRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
														</tr>
														<tr>
															<th scope="row" colspan="2">석면 피해 구제 부담금</th>
															<td align="center">
																<div class="">
																	<input type="radio" id="customRadio3"
																		name="customRadio1" class="form-check-input">
																	<label class="form-check-label" for="customRadio3">해당&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;</label>
																	<input type="radio" id="customRadio4"
																		name="customRadio1" class="form-check-input" checked>
																	<label class="form-check-label" for="customRadio4">비해당</label>
																</div>
															</td>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly" th:value="${insuranceRate.asbestosDamagechargeRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
														</tr>
														<tr>
															<th scope="row" colspan="3">산재 보험 요율</th>
															<td><div class="input-group">
																	<input type="number" class="form-control"
																		aria-describedby="inputGroupPrepend"
																		style="width: 10px" readonly="readonly" th:value="${insuranceRate.industrialInsuranceRate}"> <span
																		class="input-group-text" id="inputGroupPrepend">%</span>
																</div></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<button type="button" class="btn btn-warning" id="modi"
											style="float: right;">계산하기</button>
									</div>
									<button type="button" class="btn btn-success" id="modi"
										style="float: right; margin-left: 10px">취소</button>
									<button type="button" class="btn btn-info" id="modi"
										style="float: right;">저장</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
		</div>
	</div>
</body>
</html>