<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
</head>

<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title">보험 요율 변경 이력</h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							<div>
								<label style="padding:10px;">변경일 </label><input type="date"><br>
								<label style="margin:15px;">검색</label>
								<select>
									<option value="deptName">부서명</option>
									<option value="memberName">종류</option>
								</select>
								<input type="text" style="margin:10px;"><button type="button" class="btn btn-outline-primary">검 색</button>
							</div>
							<br>
							<div class="card">
								<div class="card-body">
								<table class="table table-striped dt-responsive nowrap w-100 text-center">
									<thead>
										<tr>
											<th>번호</th>											
											<th>국민연금 보험요율</th>											
											<th>건강보험 보험요율</th>											
											<th>장기요양 보험요율</th>											
											<th>실업급여 보험요율</th>											
											<th>산재보험 요율</th>											
											<th>보험요율 적용 일자</th>											
										</tr>
									</thead>
										
										<p align="right">단위 : 퍼센트(%)</p>
									<tbody>
										<tr th:each="history : ${insuranceRateHistory}">
											<td th:text="${history.companyNo}"/>
											<td id="pensionRate" th:text="${history.nationalPensionRate}"/>
											<td id="healthRate" th:text="${history.healthRate}"/>
											<td id="longTermRate" th:text="${history.longTermCareRate}"/>
											<td id="unempBenefitRate" th:text="${history.unempBenefitRate}"/>
											<td id="industrialInsuranceRate" th:text="${history.industrialInsuranceRate}"/>
											<td th:text="${history.insuranceRateStartDate}"/>
										</tr>
									</tbody>
								</table>
							   </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
		</div>
	</div>
</body>
</html>