<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title">직원 휴가</h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							
							<div class="card">
								<div class="card-body">
								<!-- 조회 테이블 -->
								<table class="table table-striped dt-responsive nowrap w-100 text-center">
									<thead>
										<tr>
											<th>번호</th>											
											<th>사번</th>											
											<th>부서명</th>											
											<th>휴가종류</th>											
											<th>휴가시작일</th>											
											<th>휴가종료일</th>											
											<th>휴가내용</th>											
											<th>휴가현황</th>											
											<th>상세보기</th>											
										</tr>
									</thead>
										
										
									<tbody>
										<tr th:each="">
											<td th:text=""></td>
											<td th:text=""></td>
											<td th:text=""></td>
											<td th:text=""></td>
											<td th:text=""></td>
											<td th:text=""></td>
											<td th:text=""></td>
											<td th:text=""></td>
											<td><button type="button" class="btn btn-soft-warning">상세보기</button></td>
										</tr>
									</tbody>
								</table>
								
								
								<!-- 모달창 집어넣기 -->
							<!-- 상세보기 모달창 -->
									<!-- <div class="modal fade" id="detailHoliday" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                             <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="detailHolidayModal">기념일/공휴일 상세보기</h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                    	<div>
	                                                        <label style="margin:5px; display: none;" id="holiNo" ></label>
	                                                        <label style="margin:10px;">달력 :</label><label id="calendar1" style="margin:5px;"></label><br>
	                                                        <label style="margin:10px;">날짜 :</label><label id="holidayDate1" style="margin:5px;"></label><br>
	                                                        <label style="margin:10px;">제목 :</label><label id="title1" style="margin:5px;"></label><br>
	                                                        <label style="margin:10px;">휴일여부 :</label><label id="holidayStatus1" style="margin:5px;"></label><br>
                                                    	</div>
                                                    	<br>
                                                    	
                                                    </div>
                                                   <div class="modal-footer">
	                                                   	<button type="reset" class="btn btn-warning width-xs" data-bs-dismiss="modal">닫기</button>
	                   									<button type="button" class="btn btn-success width-xs">삭제</button>
                                                   </div> 
                                              </div>
                                        </div>
                                     </div>  -->
                                     <!-- 상세보기 모달창 종료 -->
								
								
								
								</div>
							</div>
								
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
			
			
			
			
			
	<!-- <script type="text/javascript">
				
	</script> -->
			
		
</body>
</html>