<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
<style>
	.Mng-role {
		width: 1700px;
		height: 800px;
	}
	
	.head-role {
/* 		width: 700px; */
		width: 30%;
		height: 800px;
		float:left;
	}
	
	.body-role {
		width: 70%;
		height: 800px;
		float:left;
	}
	.roleTable {
		width: 150px;
		height: 550px;
		font-size : 30px;
	}
	.role-down {
			width: 300px;
			height: 150px;
			/* position: fixed;   */
			margin-top: 100px; 
            margin-left: 90px;
	}
	.role_radio {
		width: 28px;
		height: 28px;
	}
	.NoRoleImg {
		width: 300px;
	}
	.NoRole {
		margin-top: 150px;
	}
	.btn {
		width: 800px;
	}
	
		

</style>
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h1 class="page-title">직급별 권한관리</h1>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							<div class="Mng-role">
							
							<div class="head-role">
							
							<h2 align="center">직급명</h2>
							<table align="center" class="roleTable">
								
								<tr th:each="rank : ${ rankList }">
									<td><input type="radio" class="role_radio" name="role_radio"></td>
									<td th:text="${ rank.rankName }"></td>
								</tr>
								<tr>
									<td><input type="radio" class="role_radio" name="role_radio"></td>
									<td>직급</td>
								</tr>
								<tr>
									<td><input type="radio" class="role_radio" name="role_radio"></td>
									<td>직급</td>
								</tr>
								<tr>
									<td><input type="radio" class="role_radio" name="role_radio"></td>
									<td>직급</td>
								</tr>
								<tr>
									<td><input type="radio" class="role_radio" name="role_radio"></td>
									<td>직급</td>
								</tr>
								<tr>
									<td><input type="radio" class="role_radio" name="role_radio"></td>
									<td>직급</td>
								</tr>
								<tr>
									<td><input type="radio" class="role_radio" name="role_radio"></td>
									<td>직급</td>
								</tr>
								<tr>
									<td><input type="radio" class="role_radio" name="role_radio"></td>
									<td>직급</td>
								</tr>
								<tr>
									<td><input type="radio" class="role_radio" name="role_radio"></td>
									<td>직급</td>
								</tr>
								<tr>
									<td><input type="radio" class="role_radio" name="role_radio"></td>
									<td>직급</td>
								</tr>
							</table>
							
										
							<div class="role-down">
							<ul class="pagination pagination-rounded"><li class="paginate_button page-item previous disabled" id="basic-datatable_previous">
							<a href="#" aria-controls="basic-datatable" data-dt-idx="0" tabindex="0" class="page-link">
							<i class="uil uil-angle-left"></i></a></li><li class="paginate_button page-item active">
							<a href="#" aria-controls="basic-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
							<li class="paginate_button page-item ">
							<a href="#" aria-controls="basic-datatable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="basic-datatable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="basic-datatable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="basic-datatable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
							<li class="paginate_button page-item "><a href="#" aria-controls="basic-datatable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
							<li class="paginate_button page-item next" id="basic-datatable_next"><a href="#" aria-controls="basic-datatable" data-dt-idx="7" tabindex="0" class="page-link">
							<i class="uil uil-angle-right"></i></a></li></ul>
							</div> 
							
							</div>
							
							<div class="body-role">
							
								<!-- <th:block sec:authorize="hasRole('')"> -->
								<div class="NoRole" align="center">
								<img src="/images/mngRole/NoRole.jpg"  class="NoRoleImg">
								<h2>생성된 권한이 없습니다. 권한을 부여하시겠습니까? </h2>
								<input type="button" class="btn_create" value="생성"/>
								</div>
								</th:block>
								
								<form action="/mngRole/roleDept" method="post" id="roleDept">
								
								<input type="checkbox" name="optionNo2" value="5" id="cleb" class="checb" >
								
								   
								
								</form>
								
							</div>
							
							
							
							</div>
							<!-- 여기서부터 본문 끝 -->
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
		</div>
	</div>
</body>
</html>