<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextLevel.hero.member.model.dao.MemberMapper">
	
	<resultMap type="com.nextLevel.hero.member.model.dto.MemberDTO" id="loginMemberResultMap">
		<id property="no" column="ID_NO"/>
		<result property="id" column="MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PASSWORD"/>
		<result property="tempPwdYn" column="TEMP_PWD_YN"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="registDatetime" column="HIRE_DATE"/>
		<result property="accSecessionDatetime" column="ACC_SECESSION_DATETIME"/>
		<result property="accSecessionYn" column="ACC_SECESSION_YN"/>
		<result property="salaryStepByRank" column="SALARY_STEP_BY_RANK"/>
		
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/>
	</resultMap>
	
	
	<resultMap type="com.nextLevel.hero.member.model.dto.FindIdDTO" id="memberFindIdMap">
	<id property="username" column="MEMBER_NAME"/>
	<result property="phone" column="PHONE"/>
	<result property="id" column="MEMBER_ID"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.member.model.dto.FindPwdDTO" id="memberFindPwdMap">
	<id property="userId" column="MEMBER_ID"/>
	<result property="username" column="MEMBER_NAME"/>
	<result property="email" column="EMAIL"/>
	<result property="idNo" column="ID_NO"/>
	<result property="userPwd" column="MEMBER_PASSWORD"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.member.model.dto.RankAuthDTO" id="rankAuthMap">
	<id property="companyNo" column="COMPANY_NO"/>
	<id property="salaryStepByRank" column="SALARY_STEP_BY_RANK"/>
	<id property="authorityNo" column="AUTHORITY_NO"/>
	<result property="rankName" column="RANK_NAME"/>
	
	<association property="rankRoleList" resultMap="authorityResultMap"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.member.model.dto.MemberRoleDTO" id="memberRoleResultMap">
		<id property="idNo" column="ID_NO"/>
		<id property="authorityCode" column="AUTHORITY_NO"/>
		
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.member.model.dto.AuthorityDTO" id="authorityResultMap">
		<id property="code" column="AUTHORITY_NO"/>
		<result property="name" column="AUTHORITY_NAME"/>
		<result property="desc" column="AUTHORITY_DESCRIPTION"/>
	</resultMap>
	
	<select id="findMemberById" resultMap="loginMemberResultMap">
        SELECT
               A.ID_NO
             , A.MEMBER_ID
             , A.MEMBER_PASSWORD
             , A.TEMP_PWD_YN
             , A.MEMBER_NAME
             , A.HIRE_DATE
             , A.ACC_SECESSION_DATETIME
             , A.ACC_SECESSION_YN
             , B.ID_NO
             , B.AUTHORITY_NO
             , C.AUTHORITY_NO 
             , C.AUTHORITY_NAME
             , C.AUTHORITY_DESCRIPTION
             , D.SALARY_STEP_BY_RANK
          FROM TBL_MEMBER A
          LEFT JOIN TBL_USER_AUTH B ON (A.ID_NO = B.ID_NO)
          LEFT JOIN TBL_AUTH C ON (B.AUTHORITY_NO = C.AUTHORITY_NO)
          LEFT JOIN TBL_EMP_SALARY_STEP D ON(A.ID_NO = D.ID_NO)
         WHERE A.MEMBER_ID = #{ username }
	</select>

	<select id="findCompanyNoByUserNo" resultType="_int">
		SELECT
			   COMPANY_NO
		  FROM TBL_MEMBER_COMPANY
		 WHERE ID_NO = #{ no }
	</select>
	
	<select id="findRankAuth" resultMap="authorityResultMap">
        SELECT
               B.AUTHORITY_NAME
          FROM TBL_RANK_AUTH A
          LEFT JOIN TBL_AUTH B ON(A.AUTHORITY_NO = B.AUTHORITY_NO)
         WHERE COMPANY_NO = #{ companyNo }	
           AND SALARY_STEP_BY_RANK = #{ member.salaryStepByRank }		
	</select>
	
	
	<select id="selectFindId" resultMap="memberFindIdMap">
        SELECT
            M.MEMBER_ID
       FROM TBL_MEMBER M
       JOIN TBL_EMPLOYEE E ON (M.ID_NO = E.ID_NO)
      WHERE MEMBER_NAME = #{ username }
      AND PHONE = #{ phone2 }
	</select>
	
	<select id="selectFindPwd" resultMap="memberFindPwdMap">
        SELECT
            M.MEMBER_PASSWORD
       FROM TBL_MEMBER M   
	   JOIN TBL_EMPLOYEE E ON (M.ID_NO = E.ID_NO)
	  WHERE MEMBER_ID = #{ userId } 
	   AND MEMBER_NAME = #{ username } 
       AND EMAIL = #{ email } 
	</select>
	
	
	<update id="updatePwd" parameterType="com.nextLevel.hero.member.model.dto.FindPwdDTO">
       UPDATE 
          TBL_MEMBER M
        SET M.MEMBER_PASSWORD = '$2a$12$h3rtOXUhfWdeID5bkz35WeaOW.x8qdaz2RCq81h9zllR88qTqTcZu' 
        WHERE M.ID_NO IN (SELECT E.ID_NO
                            FROM TBL_EMPLOYEE E
                           WHERE M.MEMBER_ID = #{ userId }
                             AND M.MEMBER_NAME = #{ username }   
                             AND EMAIL = #{ email }
                          )
	</update>
	
</mapper>

















