<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextLevel.hero.mngBasicInformation.model.dao.MngBasicInformationMapper">

	<resultMap type="com.nextLevel.hero.member.model.dto.MemberDTO" id="loginMemberResultMap">
		<id property="no" column="ID_NO"/>
		<result property="id" column="MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PASSWORD"/>
		<result property="tempPwdYn" column="TEMP_PWD_YN"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="registDatetime" column="HIRE_DATE"/>
		<result property="accSecessionDatetime" column="ACC_SECESSION_DATETIME"/>
		<result property="accSecessionYn" column="ACC_SECESSION_YN"/>
	</resultMap>
	<resultMap type="com.nextLevel.hero.mngBasicInformation.model.dto.MngBasicInformationDTO" id="companyInformationResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="ceoName" column="CEO_NAME"/>
		<result property="address" column="HEAD_QUARTER_ADDRESS"/>
		<result property="addressDetail" column="ADDRESS_DETAIL"/>
		<result property="phone" column="HEAD_QUARTER_PHONE"/>
		<result property="fax" column="FAX"/>
		<result property="companyRegistrationNo" column="COMPANY_REGISTRATION_NO"/>
		<result property="identificationNo" column="IDENTIFICATION_NO"/>
		<result property="managerEmail" column="MANAGER_EMAIL"/>
		<result property="website" column="WEBSITE"/>
		<result property="foundingDate" column="FOUNDING_DATE"/>
		<result property="businessCode" column="BUSINESS_CODE"/>
		<result property="businessName" column="TYPE_OF_BUSINESS"/>
		<result property="firstCompanyYn" column="FIRST_COMPANY_YN"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngBasicInformation.model.dto.MngDepartmentHistoryDTO" id="departmentResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="departmentNo" column="DEPARTMENT_NO"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
		<result property="departmentCreateDate" column="DEPARTMENT_CREATE_DATE"/>
		<result property="departmentPhone" column="DEPARTMENT_PHONE"/>
		<result property="upperDepartment" column="UPPER_DEPARTMENT"/>
		<result property="upperDepartmentName" column="UPPER_DEPARTMENT_NAME"/>
		<result property="memberCount" column="MEMBER_COUNT"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngBasicInformation.model.dto.MngDepartmentHistoryDTO" id="departmentHistoryResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="updatedHistoryNo" column="UPDATED_HISTORY_NO"/>
		<result property="departmentNo" column="DEPARTMENT_NO"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
		<result property="departmentCreateDate" column="DEPARTMENT_CREATE_DATE"/>
		<result property="departmentPhone" column="DEPARTMENT_PHONE"/>
		<result property="departmentUpdatedDate" column="DEPARTMENT_UPDATED_DATE"/>
		<result property="updatedCategory" column="UPDATED_CATEGORY"/>
	</resultMap>
	<resultMap type="com.nextLevel.hero.mngBasicInformation.model.dto.MngInsuranceRateDTO" id="insuranceResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="divNo" column="DIV_NO"/>
		<result property="insuranceRateStartDate" column="INSURANCE_RATE_START_DATE"/>
		<result property="nationalPensionRate" column="NATIONAL_PENSION_RATE"/>
		<result property="workersPensionRate" column="WORKERS_PENSION_RATE"/>
		<result property="employerPensionRate" column="EMPLOYER_PENSION_RATE"/>
		<result property="healthRate" column="HEALTH_RATE"/>
		<result property="workersHealthRate" column="WORKERS_HEALTH_RATE"/>
		<result property="employerHealthRate" column="EMPLOYER_HEALTH_RATE"/>
		<result property="longTermCareRate" column="LONG_TERM_CARE_RATE"/>
		<result property="workersLongTermCareRate" column="WORKERS_LONG_TERM_CARE_RATE"/>
		<result property="employerLongTermCareRate" column="EMPLOYER_LONG_TERM_CARE_RATE"/>
		<result property="unempBenefitRate" column="UNEMP_BENEFIT_RATE"/>
		<result property="workersUnempRate" column="WORKERS_UNEMP_RATE"/>
		<result property="employerUnempRate" column="EMPLOYER_UNEMP_RATE"/>
		<result property="under150EmpRate" column="UNDER150_EMP_INSURANCE"/>
		<result property="over150PriorityEmpRate" column="OVER150_OR_PRIORITY_EMP"/>
		<result property="under1000EmpRate" column="UNDER1000_EMP_INSURANCE"/>
		<result property="over1000EmpRate" column="OVER1000_EMP_INSURANCE"/>
		<result property="commuteAccidentRate" column="COMMUTE_ACCIDENT_RATE"/>
		<result property="wageBondChargesYn" column="WAGE_BOND_CHARGES"/>
		<result property="wageBondChargesRate" column="WAGE_BOND_CHARGES_RATE"/>
		<result property="asbestosDamagechargeYn" column="ASBESTOS_DAMAGE_CHARGE"/>
		<result property="asbestosDamagechargeRate" column="ASBESTOS_DAMAGE_CHARGE_RATE"/>
		<result property="industrialInsuranceRate" column="INDUSTRIAL_INSURANCE_RATE"/>
		<result property="businessCode" column="BUSINESS_CODE"/>
		<result property="detailTypeOfBusiness" column="DETAIL_TYPE_OF_BUSINESS"/>
		<result property="industryRate" column="INDUSTRY_RATE"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngBasicInformation.model.dto.MngMemberDepartmentDTO" id="memberDepartmentResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="koreanName" column="KOREAN_NAME"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="jobName" column="JOB_NAME"/>
	</resultMap>
	<resultMap type="com.nextLevel.hero.mngBasicInformation.model.dto.MngVacationTypeDTO" id="vacationTypeResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="vacationNo" column="VACATION_NO"/>
		<result property="vacationCategory" column="VACATION_CATEGORY"/>
		<result property="vacationName" column="VACATION_NAME"/>
		<result property="vacationSettingWay" column="VACATION_SETTING_WAY"/>
		<result property="vacationDate" column="VACATION_DATE"/>
		<result property="paidVacationYn" column="PAID_VACATION_YN"/>
		<result property="settingGender" column="SETTING_GENDER"/>
	</resultMap>
	<resultMap type="com.nextLevel.hero.mngBasicInformation.model.dto.BusinessDTO" id="businessListResultMap">
		<id property="idx" column="BUSINESS_CODE"/>
		<result property="businessName" column="TYPE_OF_BUSINESS"/>
		<result property="businessDetail" column="DETAIL_TYPE_OF_BUSINESS"/>
		<result property="industryRate" column="INDUSTRY_RATE"/>
	</resultMap>
	<resultMap type="com.nextLevel.hero.mngBasicInformation.model.dto.MngSalaryCriteriaDTO" id="salaryListResultMap">
	<id property="companyNo" column="COMPANY_NO"/>
		<result property="salaryNo" column="SALARY_NO"/>
		<result property="salaryName" column="SALARY_NAME"/>
		<result property="regularlyYn" column="REGULARLY_YN"/>
		<result property="payPeriod" column="PAY_PERIOD"/>
		<result property="deductionYn" column="DEDUCTION_YN"/>
		<result property="annualSalaryYn" column="ANNUAL_SALARY_YN"/>
		<result property="payHiredMonthYn" column="PAYHIRED_MONTH_YN"/>
		<result property="paymentMonthYn" column="PAYMENT_MONTH_YN"/>
		<result property="target" column="TARGET"/>
		<result property="salaryAmount" column="SALARY_AMOUNT"/>
		<result property="useStatus" column="USE_STATUS"/>
	</resultMap>
	<resultMap type="com.nextLevel.hero.mngBasicInformation.model.dto.MngBonusDTO" id="bonusListResultMap">
	<id property="companyNo" column="COMPANY_NO"/>
		<result property="bonusNo" column="BONUS_NO"/>
		<result property="bonusName" column="BONUS_NAME"/>
		<result property="regularlyYn" column="REGULARLY_YN"/>
		<result property="payPeriod" column="PAY_PERIOD"/>
		<result property="bonusAmount" column="BONUS_AMOUNT"/>
		<result property="useYn" column="USE_YN"/>
	</resultMap>
	
	<select id="selectMemberCount" resultType="_int">
		SELECT
       		   COUNT(*)
  		  FROM TBL_EMPLOYEE
 		 WHERE COMPANY_NO = #{companyNo}
	</select>
	<select id="selectMember" resultMap="loginMemberResultMap">
		select
			   *
		  from tbl_member
	</select>
	
	<select id="selectCompanyInformationByCompanyNo" resultMap="companyInformationResultMap">
		SELECT
			   A.*
			 , B.TYPE_OF_BUSINESS
		  FROM TBL_COMPANY A,TBL_BUSINESS B
		 WHERE A.BUSINESS_CODE = B.BUSINESS_CODE
		   AND COMPANY_NO = #{ companyNo }
	</select>
	
	<update id="updateCompanyInformation" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngBasicInformationDTO">
		UPDATE TBL_COMPANY
		   SET COMPANY_NAME = #{ companyName }
		     , CEO_NAME = #{ ceoName }
		     , HEAD_QUARTER_ADDRESS = #{ address }
		     , ADDRESS_DETAIL = #{ addressDetail }
		     , HEAD_QUARTER_PHONE = #{ phone }
		     , FAX = #{ fax }
		     , COMPANY_REGISTRATION_NO = #{ companyRegistrationNo }
		     , IDENTIFICATION_NO = #{ identificationNo }
		     , MANAGER_EMAIL = #{ managerEmail }
		     , WEBSITE = #{ website }
		     , FOUNDING_DATE = #{ foundingDate }
		     , BUSINESS_CODE = #{ businessCode }
		     , FIRST_COMPANY_YN = #{ firstCompanyYn }
		 WHERE COMPANY_NO = #{ companyNo }
	</update>
	
	<insert id="insertLogCompanyInformation" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngBasicInformationDTO">
		INSERT
		  INTO TBL_COMPANY_UPDATE
		VALUES
		(
		  #{companyNo}
		, SEQ_COMPANY_INFO_LOG_NO.NEXTVAL
		, #{companyName}
		, #{ceoName}
		, #{address}
		, #{phone}
		, #{fax}
		, #{companyRegistrationNo}
		, #{identificationNo}
		, #{managerEmail}
		, #{website}
		, #{foundingDate}
		, SYSDATE
		, #{firstCompanyYn}
		, #{addressDetail}
		, #{businessCode}
		)
	</insert>
	<select id="selectDepartment" resultMap="departmentResultMap">
		   SELECT 
        	   A.COMPANY_NO
             , A.DEPARTMENT_NO
             , A.DEPARTMENT_NAME
             , A.DEPARTMENT_CREATE_DATE
             , A.DEPARTMENT_PHONE
             , A.UPPER_DEPARTMENT
             , NVL(cnt,0) AS MEMBER_COUNT
		  FROM TBL_DEPARTMENT A,( SELECT DEPARTMENT_NO, COUNT(*) AS cnt FROM TBL_EMPLOYEE WHERE COMPANY_NO = #{companyNo} GROUP BY DEPARTMENT_NO ) B
		 WHERE A.COMPANY_NO = #{companyNo}
           AND A.DEPARTMENT_NO = B.DEPARTMENT_NO(+)
	</select>
	<select id="selectDepartmentHistory" resultMap="departmentHistoryResultMap">
		SELECT
			   A.*
		  FROM TBL_DEPARTMENT_UPDATE A
		 WHERE A.COMPANY_NO = #{ companyNo }
		 ORDER BY COMPANY_NO,UPDATED_HISTORY_NO DESC
	</select>
	
	<insert id="insertPremiumRate" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngInsuranceRateDTO">
		INSERT
		  INTO TBL_INSURANCE_RATE
		VALUES 
		(
		  #{ companyNo }
		, SEQ_INSURANCE_NO.NEXTVAL
		, #{ insuranceRateStartDate }
		, #{ nationalPensionRate }*0.01
		, #{ workersPensionRate }*0.01
		, #{ employerPensionRate }*0.01
		, #{ healthRate }*0.01
		, #{ workersHealthRate }*0.01
		, #{ employerHealthRate }*0.01
		, #{ longTermCareRate }*0.01
		, #{ workersLongTermCareRate }*0.01
		, #{ employerLongTermCareRate }*0.01
		, #{ unempBenefitRate }*0.01
		, #{ workersUnempRate }*0.01
		, #{ employerUnempRate }*0.01
		, #{ under150EmpRate }*0.01
		, #{ over150PriorityEmpRate }*0.01
		, #{ under1000EmpRate }*0.01
		, #{ over1000EmpRate }*0.01
		, #{ commuteAccidentRate }*0.01
		, #{ wageBondChargesYn }
		, #{ wageBondChargesRate }*0.01
		, #{ asbestosDamagechargeYn }
		, #{ asbestosDamagechargeRate }*0.01
		, #{ industrialInsuranceRate }*0.01
		, #{ businessCode }
		)
	</insert>
	
	<select id="selectInsuranceHistory" resultMap="insuranceResultMap">
		SELECT
			   A.*
			 , B.INDUSTRY_RATE
		  FROM TBL_INSURANCE_RATE A, TBL_BUSINESS B
		 WHERE A.BUSINESS_CODE = B.BUSINESS_CODE
		   AND A.COMPANY_NO = #{ companyNo }
	</select>
	<select id="selectInsurance" resultMap="insuranceResultMap">
		SELECT
			   A.*
			 , B.DETAIL_TYPE_OF_BUSINESS
			 , B.INDUSTRY_RATE
		  FROM TBL_INSURANCE_RATE A, TBL_BUSINESS B
		 WHERE A.BUSINESS_CODE = B.BUSINESS_CODE
		   AND A.COMPANY_NO = #{ companyNo }
           AND A.INSURANCE_RATE_START_DATE <![CDATA[<]]> SYSDATE
		   AND A.DIV_NO IN ( SELECT 
		   						    MAX(DIV_NO)
		   					   FROM TBL_INSURANCE_RATE
                              GROUP BY COMPANY_NO
		   					)
	</select>
	<select id="selectOneDepartment" resultMap="departmentResultMap">
		SELECT
			   A.*
			 ,(SELECT  B.DEPARTMENT_NAME 
                 FROM TBL_DEPARTMENT B
                WHERE B.DEPARTMENT_NO = (SELECT UPPER_DEPARTMENT 
                                           FROM TBL_DEPARTMENT 
                                          WHERE DEPARTMENT_NO = #{departmentNum})
                                         ) AS UPPER_DEPARTMENT_NAME 
		  FROM TBL_DEPARTMENT A
		 WHERE A.DEPARTMENT_NO = #{departmentNum}
		   AND A.COMPANY_NO = #{companyNo}
	</select>
	<insert id="insertDepartment" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngDepartmentHistoryDTO">
		INSERT
		  INTO TBL_DEPARTMENT
		(
		  COMPANY_NO
		, DEPARTMENT_NO
		, DEPARTMENT_NAME
		, DEPARTMENT_CREATE_DATE
		, DEPARTMENT_PHONE
		, UPPER_DEPARTMENT
		)
		VALUES
		(
		  #{ companyNo }
		, SEQ_DEPARTMENT_NO.NEXTVAL
		, #{ departmentName }
		, #{ departmentCreateDate }
		, #{ departmentPhone , jdbcType=VARCHAR }
		, #{ upperDepartment , jdbcType=INTEGER }
		)
	</insert>
	<select id="selectDepartmentNo" resultType="_int">
		SELECT
		       SEQ_DEPARTMENT_NO.CURRVAL
		  FROM USER_SEQUENCES
		 WHERE SEQUENCE_NAME = 'SEQ_DEPARTMENT_NO'
	</select>
	<insert id="insertLogDepartment" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngDepartmentHistoryDTO">
		INSERT
		  INTO TBL_DEPARTMENT_UPDATE
		(
		  COMPANY_NO
		, UPDATED_HISTORY_NO
		, DEPARTMENT_NO
		, DEPARTMENT_NAME
		, DEPARTMENT_CREATE_DATE
		, DEPARTMENT_PHONE
		, DEPARTMENT_UPDATED_DATE
		, UPDATED_CATEGORY
		, UPPER_DEPARTMENT
		)
		VALUES
		(
		  #{ companyNo }
		, SEQ_DEPARTMENT_LOG_NO.NEXTVAL
		, #{ departmentNo }
		, #{ departmentName }
		, #{ departmentCreateDate }
		, #{ departmentPhone , jdbcType=VARCHAR }
		, SYSDATE
		, '생성'
		, #{ upperDepartment , jdbcType=INTEGER }
		)
	</insert>
	<update id="updateDepartment" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngDepartmentHistoryDTO">
		UPDATE TBL_DEPARTMENT
		   SET DEPARTMENT_NAME = #{ departmentName }
		     , DEPARTMENT_CREATE_DATE = #{ departmentCreateDate }
		     , DEPARTMENT_PHONE = #{ departmentPhone }
		     , UPPER_DEPARTMENT = #{ upperDepartment }
		 WHERE COMPANY_NO = #{ companyNo }
		   AND DEPARTMENT_NO = #{ departmentNo } 
	</update>
	<insert id="insertUpdateLogDepartment" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngDepartmentHistoryDTO">
		INSERT
		  INTO TBL_DEPARTMENT_UPDATE
		(
		  COMPANY_NO
		, UPDATED_HISTORY_NO
		, DEPARTMENT_NO
		, DEPARTMENT_NAME
		, DEPARTMENT_CREATE_DATE
		, DEPARTMENT_PHONE
		, DEPARTMENT_UPDATED_DATE
		, UPDATED_CATEGORY
		, UPPER_DEPARTMENT
		)
		VALUES
		(
		  #{ companyNo }
		, SEQ_DEPARTMENT_LOG_NO.NEXTVAL
		, #{ departmentNo }
		, #{ departmentName }
		, #{ departmentCreateDate }
		, #{ departmentPhone , jdbcType=VARCHAR }
		, SYSDATE
		, '수정'
		, #{ upperDepartment , jdbcType=INTEGER }
		)
	</insert>
	<select id="selectMemberDepartment" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngMemberDepartmentDTO" resultMap="memberDepartmentResultMap">
		SELECT
			   A.KOREAN_NAME
			 , B.DEPARTMENT_NAME
			 , A.MEMBER_NO
             , C.JOB_NAME
		  FROM TBL_EMPLOYEE A, TBL_DEPARTMENT B , TBL_JOB C
		 WHERE A.DEPARTMENT_NO = B.DEPARTMENT_NO
           AND A.JOB_NO = C.JOB_NO
		   AND A.DEPARTMENT_NO = #{ departmentNo }
           AND A.COMPANY_NO = #{ companyNo }
	</select>
	<delete id="deleteDepartment">
		DELETE 
		  FROM TBL_DEPARTMENT
		 WHERE COMPANY_NO = #{companyNo}
		   AND DEPARTMENT_NO = #{departmentNum}
	</delete>
	<insert id="insertDeleteLogDepartment" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngDepartmentHistoryDTO">
		INSERT
		  INTO TBL_DEPARTMENT_UPDATE
		(
		  COMPANY_NO
		, UPDATED_HISTORY_NO
		, DEPARTMENT_NO
		, DEPARTMENT_NAME
		, DEPARTMENT_CREATE_DATE
		, DEPARTMENT_PHONE
		, DEPARTMENT_UPDATED_DATE
		, UPDATED_CATEGORY
		, UPPER_DEPARTMENT
		)
		VALUES
		(
		  #{ companyNo }
		, SEQ_DEPARTMENT_LOG_NO.NEXTVAL
		, #{ departmentNo }
		, #{ departmentName }
		, #{ departmentCreateDate }
		, #{ departmentPhone , jdbcType=VARCHAR }
		, SYSDATE
		, '삭제'
		, #{ upperDepartment , jdbcType=INTEGER }
		)
	</insert>
	<insert id="insertVacationType" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngVacationTypeDTO">
		INSERT
		  INTO TBL_VACATION_CATEGORY
		VALUES
		(
		  #{ companyNo }
		, SEQ_VACATION_NO.NEXTVAL
		, #{ vacationCategory }
		, #{ vacationName }
		, #{ vacationSettingWay }
		, #{ vacationDate }
		, #{ paidVacationYn }
		, #{ settingGender }
		)
	</insert>
	<select id="selectVacationTypeList" resultMap="vacationTypeResultMap">
		SELECT
			   A.*
		  FROM TBL_VACATION_CATEGORY A
		 WHERE COMPANY_NO = #{ companyNo }
		 ORDER BY A.VACATION_CATEGORY,A.VACATION_NO
	</select>
	<select id="selectOneVacationType" resultMap="vacationTypeResultMap">
		SELECT
			   A.*
		  FROM TBL_VACATION_CATEGORY A
		 WHERE A.COMPANY_NO = #{ companyNo }
		   AND A.VACATION_NO = #{ vacationNo }
	</select>
	<update id="updateVacationType" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngVacationTypeDTO">
		UPDATE TBL_VACATION_CATEGORY A
		   SET A.VACATION_CATEGORY = #{ vacationCategory }
		   	 , A.VACATION_NAME = #{ vacationName }
		   	 , A.VACATION_SETTING_WAY = #{ vacationSettingWay }
		   	 , A.VACATION_DATE = #{ vacationDate }
		   	 , A.PAID_VACATION_YN = #{ paidVacationYn }
		   	 , A.SETTING_GENDER  = #{ settingGender }
		 WHERE A.VACATION_NO = #{ vacationNo }
		   and A.COMPANY_NO = #{ companyNo }
	</update>
	<delete id="deleteVacationType">
		DELETE
		  FROM TBL_VACATION_CATEGORY
		 WHERE COMPANY_NO = #{ companyNo }
		   AND VACATION_NO = #{ vacationNo }
	</delete>
	<select id="selectSearchList" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.BusinessDTO" resultMap="businessListResultMap">
		SELECT 
			   BUSINESS_CODE
			 , TYPE_OF_BUSINESS
			 , DETAIL_TYPE_OF_BUSINESS 
			 , INDUSTRY_RATE
		  FROM TBL_BUSINESS
		 WHERE TYPE_OF_BUSINESS || DETAIL_TYPE_OF_BUSINESS LIKE '%'||#{keyword}||'%'
	</select>
	<select id="selectSalaryList" resultMap="salaryListResultMap">
		SELECT
			   *
		  FROM TBL_SALARY_CRITERIA
		 WHERE COMPANY_NO = #{ companyNo }
		 ORDER BY USE_STATUS DESC,SALARY_NO ASC 
	</select>
	<select id="selectBonusList" resultMap="bonusListResultMap">
		SELECT
			   *
		  FROM TBL_BONUS
		 WHERE COMPANY_NO = #{ companyNo }
		 ORDER BY USE_YN DESC,BONUS_NO ASC 
		 
	</select>
	
	
	<insert id="insertSalaryCriteria" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngSalaryCriteriaDTO">
		INSERT
		  INTO TBL_SALARY_CRITERIA
		VALUES
		(
		  #{ companyNo }
		, SEQ_SALARY_CRITERIA_NO.NEXTVAL
		, #{ salaryName }
		, #{ regularlyYn }
		, #{ payPeriod }
		, #{ salaryAmount }
		, #{ deductionYn }
		, #{ annualSalaryYn }
		, #{ payHiredMonthYn }
		, #{ paymentMonthYn }
		, 'Y'
		, #{ target }
		)
	</insert>
	<insert id="insertBonusType" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngBonusDTO">
		INSERT
		  INTO TBL_BONUS
		VALUES
		(
		  #{ companyNo }
		, SEQ_BONUS_NO.NEXTVAL
		, #{ bonusName }
		, #{ regularlyYn }
		, #{ payPeriod }
		, #{ bonusAmount }
		, 'Y'
		)
	</insert>
	
</mapper>