<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextLevel.hero.mngBasicInformation.model.dao.MngBasicInformationMapper">

	<resultMap type="com.nextLevel.hero.member.model.dto.MemberDTO" id="loginMemberResultMap">
		<id property="no" column="ID_NO"/>
		<result property="id" column="MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PASSWORD"/>
		<result property="tempPwdYn" column="TEMP_PWD_YN"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="registDatetime" column="HIRE_DATE"/>
		<result property="accSecessionDatetime" column="ACC_SECESSION_DATETIME"/>
		<result property="accSecessionYn" column="ACC_SECESSION_YN"/>
	</resultMap>
	<resultMap type="com.nextLevel.hero.mngBasicInformation.model.dto.MngBasicInformationDTO" id="companyInformationResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="ceoName" column="CEO_NAME"/>
		<result property="address" column="HEAD_QUARTER_ADDRESS"/>
		<result property="phone" column="HEAD_QUARTER_PHONE"/>
		<result property="fax" column="FAX"/>
		<result property="companyRegistrationNo" column="COMPANY_REGISTRATION_NO"/>
		<result property="identificationNo" column="IDENTIFICATION_NO"/>
		<result property="managerEmail" column="MANAGER_EMAIL"/>
		<result property="website" column="WEBSITE"/>
		<result property="foundingDate" column="FOUNDING_DATE"/>
		<result property="businessCode" column="BUSINESS_CODE"/>
		<result property="businessName" column="TYPE_OF_BUSINESS"/>
		<result property="firstCompanyYn" column="FIRST_COMPANY_YN"/>
	</resultMap>
	<resultMap type="com.nextLevel.hero.mngBasicInformation.model.dto.MngDepartmentHistoryDTO" id="departmentHistoryResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="updatedHistoryNo" column="UPDATED_HISTORY_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="departmentNo" column="DEPARTMENT_NO"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
		<result property="departmentCreateDate" column="DEPARTMENT_CREATE_DATE"/>
		<result property="departmentPhone" column="DEPARTMENT_PHONE"/>
		<result property="departmentUpdatedDate" column="DEPARTMENT_UPDATED_DATE"/>
		<result property="updatedCategory" column="UPDATED_CATEGORY"/>
	</resultMap>
	<resultMap type="com.nextLevel.hero.mngBasicInformation.model.dto.MngInsuranceRateDTO" id="insuranceResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="divNo" column="DIV_NO"/>
		<result property="insuranceRateStartDate" column="INSURANCE_RATE_START_DATE"/>
		<result property="nationalPensionRate" column="NATIONAL_PENSION_RATE"/>
		<result property="workersPensionRate" column="WORKERS_PENSION_RATE"/>
		<result property="employerPensionRate" column="EMPLOYER_PENSION_RATE"/>
		<result property="healthRate" column="HEALTH_RATE"/>
		<result property="workersHealthRate" column="WORKERS_HEALTH_RATE"/>
		<result property="employerHealthRate" column="EMPLOYER_HEALTH_RATE"/>
		<result property="longTermCareRate" column="LONG_TERM_CARE_RATE"/>
		<result property="workersLongTermCareRate" column="WORKERS_LONG_TERM_CARE_RATE"/>
		<result property="employerLongTermCareRate" column="EMPLOYER_LONG_TERM_CARE_RATE"/>
		<result property="unempBenefitRate" column="UNEMP_BENEFIT_RATE"/>
		<result property="workersUnempRate" column="WORKERS_UNEMP_RATE"/>
		<result property="employerUnempRate" column="EMPLOYER_UNEMP_RATE"/>
		<result property="under150EmpRate" column="UNDER150_EMP_INSURANCE"/>
		<result property="over150PriorityEmpRate" column="OVER150_OR_PRIORITY_EMP"/>
		<result property="under1000EmpRate" column="UNDER1000_EMP_INSURANCE"/>
		<result property="over1000EmpRate" column="OVER1000_EMP_INSURANCE"/>
		<result property="commuteAccidentRate" column="COMMUTE_ACCIDENT_RATE"/>
		<result property="wageBondChargesYn" column="WAGE_BOND_CHARGES_YN"/>
		<result property="wageBondChargesRate" column="WAGE_BOND_CHARGES_RATE"/>
		<result property="asbestosDamagechargeYn" column="ASBESTOS_DAMAGE_CHARGE_YN"/>
		<result property="asbestosDamagechargeRate" column="ASBESTOS_DAMAGE_CHARGE_RATE"/>
		<result property="industrialInsuranceRate" column="INDUSTRIAL_INSURANCE_RATE"/>
		<result property="businessCode" column="BUSINESS_CODE"/>
		<result property="industryRate" column="INDUSTRY_RATE"/>
	</resultMap>
	
	<select id="selectMember" resultMap="loginMemberResultMap">
		select
			   *
		  from tbl_member
	</select>
	
	<select id="selectCompanyInformationByCompanyNo" resultMap="companyInformationResultMap">
		SELECT
			   A.*
			 , B.TYPE_OF_BUSINESS
		  FROM TBL_COMPANY A,TBL_BUSINESS B
		 WHERE A.BUSINESS_CODE = B.BUSINESS_CODE
		   AND COMPANY_NO = #{ companyNo }
	</select>
	
	<update id="updateCompanyInformation" parameterType="com.nextLevel.hero.mngBasicInformation.model.dto.MngBasicInformationDTO">
		UPDATE TBL_COMPANY
		   SET COMPANY_NAME = #{ companyName }
		     , CEO_NAME = #{ ceoName }
		     , HEAD_QUARTER_ADDRESS = #{ address }
		     , HEAD_QUARTER_PHONE = #{ phone }
		     , FAX = #{ fax }
		     , COMPANY_REGISTRATION_NO = #{ companyRegistrationNo }
		     , IDENTIFICATION_NO = #{ identificationNo }
		     , MANAGER_EMAIL = #{ managerEmail }
		     , WEBSITE = #{ website }
		     , FOUNDING_DATE = #{ foundingDate }
		     , BUSINESS_CODE = #{ businessCode }
		     , FIRST_COMPANY_YN = #{ firstCompanyYn }
		 WHERE COMPANY_NO = #{ companyNo }
	</update>
	
	<select id="selectDepartmentHistory" resultMap="departmentHistoryResultMap">
		SELECT
			   A.*
		  FROM TBL_DEPARTMENT_UPDATE A
		 WHERE A.COMPANY_NO = #{ companyNo }
	</select>
	
	
	
	<select id="selectInsuranceHistory" resultMap="insuranceResultMap">
		SELECT
			   A.*
			 , B.INDUSTRY_RATE
		  FROM TBL_INSURANCE_RATE A, TBL_BUSINESS B
		 WHERE A.BUSINESS_CODE = B.BUSINESS_CODE
		   AND A.COMPANY_NO = #{ companyNo }
	</select>
	<select id="selectInsurance" resultMap="insuranceResultMap">
		SELECT
			   A.*
			 , B.INDUSTRY_RATE
		  FROM TBL_INSURANCE_RATE A, TBL_BUSINESS B
		 WHERE A.BUSINESS_CODE = B.BUSINESS_CODE
		   AND A.COMPANY_NO = 1
           AND A.INSURANCE_RATE_START_DATE <![CDATA[<]]> SYSDATE
		   AND A.DIV_NO IN ( SELECT 
		   						    MAX(DIV_NO)
		   					   FROM TBL_INSURANCE_RATE
                              GROUP BY COMPANY_NO
		   					)
	</select>
</mapper>