<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextLevel.hero.mngCertificate.model.dao.MngCertificateMapper">

	<resultMap type="com.nextLevel.hero.mngCertificate.model.dto.CertificateMemberDTO" id="MemberResultMap">
		<id property="idNo" column="ID_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="hireDate" column="HIRE_DATE"/>
		<result property="accSecessionDatetime" column="ACC_SECESSION_DATETIME"/>
	</resultMap>

	<select id="selectfindAllMember" resultMap="MemberResultMap">
        SELECT
                E.ID_NO
              , E.MEMBER_NO  
              , M.MEMBER_NAME
              , J.JOB_NAME
              , D.DEPARTMENT_NAME
              , M.MEMBER_ID
              , M.HIRE_DATE
              , M.ACC_SECESSION_DATETIME
        FROM TBL_MEMBER M
       JOIN TBL_EMPLOYEE E ON M.ID_NO = E.ID_NO
       JOIN TBL_JOB J ON J.JOB_NO = E.JOB_NO
       JOIN TBL_DEPARTMENT D ON E.DEPARTMENT_NO = D.DEPARTMENT_NO          
       WHERE E.COMPANY_NO = 1
       ORDER BY ID_NO ASC
	</select>
	
	
</mapper>