<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextLevel.hero.mngRole.model.dao.MngRoleMapper">

	<resultMap type="com.nextLevel.hero.mngRole.model.dto.MngRoleDTO" id="rankResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="rank" column="RANK"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngRole.model.dto.MngRankSalaryDTO" id="rankSalaryMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<id property="salaryStepByRank" column="SALARY_STEP_BY_RANK"/>
		<result property="rank" column="RANK"/>
		<result property="tblUserAuth" column="TBL_USER_AUTH"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngRole.model.dto.MngRankAuthDTO" id="rankAuthMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<id property="salaryStepByRank" column="SALARY_STEP_BY_RANK"/>
		<id property="authoryityNo" column="AUTHORITY_NO"/>
		<result property="rankName" column="RANK_NAME"/>
		<result property="tblUserAuth" column="TBL_USER_AUTH"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngRole.model.dto.MngUserDTO" id="userResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="name" column="KOREAN_NAME"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngRole.model.dto.MngUserAuthDTO" id="userMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<id property="idNo" column="ID_NO"/>
		<id property="authoryityNo" column="AUTHORITY_NO"/>
		<result property="name" column="KOREAN_NAME"/>
		<result property="tblUserAuth" column="TBL_USER_AUTH"/>
	</resultMap>
	
	<select id="selectMemberCount" resultType="_int" parameterType="hashmap">
		 SELECT 
               COUNT(DISTINCT A.ID_NO)
          FROM TBL_EMPLOYEE A
         <if test="searchMap.searchCondition == 'searchDeptName'">
           JOIN TBL_DEPARTMENT B ON(A.DEPARTMENT_NO = B.DEPARTMENT_NO)
         </if>
         <where>
            <if test="searchMap.searchCondition == 'searchDeptName'">
            	B.DEPARTMENT_NAME LIKE '%' || #{ searchMap.searchValue } || '%'
            </if>
            <if test="searchMap.searchCondition == 'searchMemberName'">
            	A.KOREAN_NAME LIKE '%' || #{ searchMap.searchValue } || '%'
            </if>
            <if test="searchMap.searchCondition == 'searchMemberNo'">
            	A.MEMBER_NO LIKE '%' || #{ searchMap.searchValue } || '%'
            </if>
            AND A.COMPANY_NO = #{ companyNo }
         </where>
	</select>
	
	<select id="selectRank" resultMap="rankResultMap">
  		SELECT
        	   DISTINCT RANK
  		  FROM TBL_RANK_SALARY_STEP
 		 WHERE COMPANY_NO = 1
 		 ORDER BY 1 ASC
	</select>
	
	<select id="selectRankAuth" resultMap="rankAuthMap">
		SELECT
			     ROWNUM
			 , V.SALARY_STEP_BY_RANK
			 , V.TBL_USER_AUTH
		  FROM (SELECT B.SALARY_STEP_BY_RANK
		  			 , B.TBL_USER_AUTH
                     , B.RANK
                     , B.COMPANY_NO
		  		  FROM TBL_RANK_SALARY_STEP B
		  		) V
		 WHERE COMPANY_NO = #{ companyNo }
		   AND RANK = #{ rank }
		   AND ROWNUM = 1
	</select>
	
	<select id="selectAuthority" resultMap="rankAuthMap">
		SELECT
			   AUTHORITY_NO
		  FROM TBL_RANK_AUTH
		 WHERE COMPANY_NO = #{ companyNo }
	   	   AND SALARY_STEP_BY_RANK = #{ salaryStepByRank }
	</select>
	
	<update id="updateRoleAuth" parameterType="com.nextLevel.hero.mngRole.model.dto.MngRankSalaryDTO">
		UPDATE TBL_RANK_SALARY_STEP
		   SET TBL_USER_AUTH = 'Y'
		 WHERE COMPANY_NO = #{ companyNo }
		   AND RANK = #{ rank }
	</update>

	<select id="selectStepByRank" resultMap="rankAuthMap">
		SELECT
			   SALARY_STEP_BY_RANK
		  FROM TBL_RANK_SALARY_STEP
		 WHERE COMPANY_NO = #{ companyNo }
		   AND RANK = #{ rankName }
	</select>
	
	<delete id="deleteRankAuth">
		DELETE
		  FROM TBL_RANK_AUTH
	 	 WHERE COMPANY_NO = #{ companyNo }
		   AND SALARY_STEP_BY_RANK IN
			<foreach collection="salaryStepByRankArg" item="item" index="index" open="(" separator="," close=")">
			   #{ item.salaryStepByRank }
			</foreach>
	</delete>
	
	<insert id="insertRankAuth" >
		<foreach collection="salaryStepByRankArg" item="item" open="INSERT ALL" close= "SELECT * FROM SYS.DUAL" separator=" ">
			INTO TBL_RANK_AUTH
		(
		  COMPANY_NO
		, SALARY_STEP_BY_RANK
		, AUTHORITY_NO
		, RANK_NAME
		)
		VALUES
		(
		  #{ companyNo }
		, ${ item.salaryStepByRank }
		, #{ authoryityNo }
		, #{ rankName }
		)
		</foreach>
	</insert>
	
	<select id="selectUser" resultMap="userResultMap">
         SELECT
         	   A.RNUM
             , A.KOREAN_NAME
             , A.MEMBER_NO
             , A.DEPARTMENT_NAME
          FROM (SELECT ROWNUM RNUM
          			 , B.KOREAN_NAME
          			 , B.MEMBER_NO
          			 , B.DEPARTMENT_NAME
          		  FROM (SELECT C.KOREAN_NAME
          		  			 , C.MEMBER_NO
          		  			 , D.DEPARTMENT_NAME
          		  		  FROM TBL_EMPLOYEE C
          				  JOIN TBL_DEPARTMENT D ON(C.DEPARTMENT_NO = D.DEPARTMENT_NO)
        				  <where>
        				 	 <if test="searchMap.searchCondition == 'searchDeptName'">
        				 	 	D.DEPARTMENT_NAME LIKE '%' || #{ searchMap.searchValue } || '%'
        				  	 </if>
        				  	 <if test="searchMap.searchCondition == 'searchMemberName'">
            					C.KOREAN_NAME LIKE '%' || #{ searchMap.searchValue } || '%'
           					 </if>
          					 <if test="searchMap.searchCondition == 'searchMemberNo'">
            					C.MEMBER_NO LIKE '%' || #{ searchMap.searchValue } || '%'
          					 </if>
          					AND C.COMPANY_NO = #{ companyNo }
        				  </where>
        				  ORDER BY C.MEMBER_NO DESC
          		  		  ) B
          		  	<![CDATA[
                  WHERE ROWNUM <= #{ selectCriteria.endRow }
                  ]]>       
          	   ) A    		  		  
         WHERE A.RNUM >= #{ selectCriteria.startRow }  		  
	</select>
	
	<select id="selectUserAuth" resultMap="userMap">
         SELECT
               A.TBL_USER_AUTH
             , A.ID_NO
          FROM TBL_EMPLOYEE A
         WHERE A.MEMBER_NO = #{ memberNo }
           AND A.KOREAN_NAME = #{ userName }
           AND A.COMPANY_NO = #{ companyNo }
	</select>
	
	<select id="selectUserAuthority" resultMap="userMap">
		SELECT
			   AUTHORITY_NO
		  FROM TBL_USER_AUTH
		 WHERE ID_NO = #{ idNo }
	</select>
	
	<update id="updateUserRoleAuth" parameterType="com.nextLevel.hero.mngRole.model.dto.MngUserAuthDTO">
		UPDATE TBL_EMPLOYEE
		   SET TBL_USER_AUTH = 'Y'
		 WHERE COMPANY_NO = #{ companyNo }
		   AND KOREAN_NAME = #{ userName }
		   AND MEMBER_NO = #{ memberNo }
	</update>
	
	<delete id="deleteUserAuth">
		DELETE
		  FROM TBL_USER_AUTH
	 	 WHERE ID_NO = #{ idNo }
	</delete>

	
	<insert id="insertUserAuth" parameterType="com.nextLevel.hero.mngRole.model.dto.MngUserAuthDTO">
		<foreach collection="authoryityNoArg" item="item" open="INSERT ALL" close= "SELECT * FROM SYS.DUAL" separator=" ">
			INTO TBL_USER_AUTH
		(
		  ID_NO
		, AUTHORITY_NO
		)
		VALUES
		(
		  #{ idNo }
		, #{ item.authoryityNo }
		)
		</foreach>
	</insert>
	
	

    
</mapper>