<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextLevel.hero.mngRole.model.dao.MngRoleMapper">

	<resultMap type="com.nextLevel.hero.mngRole.model.dto.MngRoleDTO" id="rankResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="rank" column="RANK"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngRole.model.dto.MngRankSalaryDTO" id="rankSalaryMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<id property="salaryStepByRank" column="SALARY_STEP_BY_RANK"/>
		<result property="rank" column="RANK"/>
		<result property="tblUserAuth" column="TBL_USER_AUTH"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngRole.model.dto.MngRankAuthDTO" id="rankAuthMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<id property="salaryStepByRank" column="SALARY_STEP_BY_RANK"/>
		<id property="authoryityNo" column="AUTHORITY_NO"/>
		<result property="rankName" column="RANK_NAME"/>
		
	</resultMap>
	
	<select id="selectRank" resultMap="rankResultMap">
		SELECT
        	   DISTINCT RANK
  		  FROM TBL_RANK_SALARY_STEP
 		 WHERE COMPANY_NO = #{ companyNo }
	</select>
	<select id="selectRankAuth" resultMap="rankSalaryMap">
		SELECT
			     ROWNUM
			 , V.SALARY_STEP_BY_RANK
			 , V.TBL_USER_AUTH
		  FROM (SELECT B.SALARY_STEP_BY_RANK
		  			 , B.TBL_USER_AUTH
                     , B.RANK
                     , B.COMPANY_NO
		  		  FROM TBL_RANK_SALARY_STEP B
		  		) V
		 WHERE COMPANY_NO = #{ companyNo }
		   AND RANK = #{ rank }
		   AND ROWNUM = 1
	</select>
	<update id="updateRoleAuth">
		UPDATE TBL_RANK_SALARY_STEP
		   SET TBL_USER_AUTH = 'Y'
		 WHERE COMPANY_NO = #{ companyNo }
		   AND RANK = #{ rank }
	</update>

	<select id="selectStepByRank" resultMap="rankAuthMap">
		SELECT
			   SALARY_STEP_BY_RANK
		  FROM TBL_RANK_SALARY_STEP
		 WHERE COMPANY_NO = #{ companyNo }
		   AND RANK = #{ rankName }
	</select>
	
	<delete id="deleteRankAuth">
		DELETE
		  FROM TBL_RANK_AUTH
		WHERE COMPANY_NO = #{ companyNo }
		  AND 
	
	</delete>

</mapper>