<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextLevel.hero.mngVacation.model.dao.MngVacationMapper">

	<resultMap type="com.nextLevel.hero.mngVacation.model.dto.MngHolidayDTO" id="listHolidayResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="holidayNo" column="HOLIDAY_NO"/>
		<result property="calendar" column="CALENDAR"/>
		<result property="holidayDate" column="HOLIDAY_DATE"/>
		<result property="title" column="TITLE"/>
		<result property="holidayStatus" column="HOLIDAY_STATUS"/>
	</resultMap>
	
	<!-- 조회 -->
	<select id="listHoliday" resultMap="listHolidayResultMap">
		SELECT 
		       A.*
		  FROM TBL_HOLIDAY A
		 WHERE A.COMPANY_NO = #{ companyNo }      
	</select>
	
	<!-- Insert -->
	<!-- <insert id="holidayInsert" parameterType="com.nextLevel.hero.mngVacation.model.dto.MngHolidayDTO">
		INSERT
		  INTO TBL_HOLIDAY A
		(
		  A.COMPANY_NO
		, A.HOLIDAY_NO
		, A.CALENDAR
		, A.HOLIDAY_DATE
		, A.TITLE
		, HOLIDAY_STATUS  
		)
		VALUES
		(
		  #{ companyNo }
		, SEQ_HOLIDAY.NEXTVAL
		, #{ calendar } 
		, #{ holidayDate } 
		, #{ title } 
		, #{ holidayStatus} 
		)  
	</insert> -->
	
	<!-- Delete -->
	<!-- <delete id="holidayDelete">
		DELETE
		  FROM TBL_HOLIDAY A
		 WHERE A.HOLIDAY_NO = #{ holidayNo } 
	</delete> -->
	

</mapper>