<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextLevel.hero.mngWorkAttitude.model.dao.MngWorkAttitudeMapper">

	<resultMap type="com.nextLevel.hero.mngWorkAttitude.model.dto.MngWorkAttitudeDTO" id="workResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="IdNo" column="ID_NO"/>
		<result property="koreanName" column="KOREAN_NAME"/>
		<result property="memberNo" column="MEMBER_NO"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngWorkAttitude.model.dto.MngWorkCommuteDTO" id="workCommuteMap">
		<id property="commuteNo" column="COMMUTE_NO"/>
		<result property="yearAndMonth" column="YEAR_AND_MONTH"/>
		<result property="workStartTime" column="WORK_START_TIME"/>
		<result property="workEndTime" column="WORK_END_TIME"/>
		<result property="todayStatus" column="TARDY_STATUS"/>
		<result property="earlyLeaveStatus" column="EARLY_LEAVE_STATUS"/>
		<result property="absentStatus" column="ABSENT_STATUS"/>
		<result property="holidayNo" column="HOLIDAY_NO"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngWorkAttitude.model.dto.MngAttitudeUpdateDTO" id="workUpdateMap">
		<id property="idNo" column="ID_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="koreanName" column="KOREAN_NAME"/>
		<result property="departmenetName" column="DEPARTMENT_NAME"/>
		<result property="rank" column="RANK"/>
		<result property="hireDate" column="HIRE_DATE"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngWorkAttitude.model.dto.MngAttitudeUpdateViewDTO" id="workUpdateViewMap">
		<id property="workAttitudeUpdateNo" column="WORK_ATTITUDE_UPDATE_NO"/>
		<result property="writer" column="WRITER"/>
		<result property="chhangeWantDate" column="CHANGE_WANT_DATE"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="afterChangeStartTime" column="AFTER_CHANGE_START_TIME"/>
		<result property="afterChangeEndTime" column="AFTER_CHANGE_END_TIME"/>
	</resultMap>
	
	
	<select id="selectMemberCount" resultType="_int" parameterType="hashmap">
		 SELECT 
               COUNT(DISTINCT A.ID_NO)
          FROM TBL_EMPLOYEE A
         <if test="searchMap.searchCondition == 'searchDeptName'">
           JOIN TBL_DEPARTMENT B ON(A.DEPARTMENT_NO = B.DEPARTMENT_NO)
         </if>
         <where>
            <if test="searchMap.searchCondition == 'searchDeptName'">
            	B.DEPARTMENT_NAME LIKE '%' || #{ searchMap.searchValue } || '%'
            </if>
            <if test="searchMap.searchCondition == 'searchMemberName'">
            	A.KOREAN_NAME LIKE '%' || #{ searchMap.searchValue } || '%'
            </if>
            <if test="searchMap.searchCondition == 'searchMemberNo'">
            	A.MEMBER_NO LIKE '%' || #{ searchMap.searchValue } || '%'
            </if>
            AND A.COMPANY_NO = #{ companyNo }
         </where>
	</select>
	
	<select id="selectMemberList" resultMap="workResultMap">
		SELECT
			   A.RNUM	
		     , A.COMPANY_NO
             , A.MEMBER_NO
             , A.ID_NO
             , A.KOREAN_NAME
          FROM (SELECT ROWNUM RNUM
          			 , B.COMPANY_NO
          			 , B.MEMBER_NO
          			 , B.ID_NO
          			 , B.KOREAN_NAME
          		  FROM (SELECT C.COMPANY_NO
          		  			 , C.MEMBER_NO
          		  			 , C.ID_NO
          		  			 , C.KOREAN_NAME
          		  		  FROM TBL_EMPLOYEE C
          		  		  <if test="searchMap.searchCondition == 'searchDeptName'">
          					JOIN TBL_DEPARTMENT D ON(C.DEPARTMENT_NO = D.DEPARTMENT_NO)
        				  </if>
        				  <where>
        				 	 <if test="searchMap.searchCondition == 'searchDeptName'">
        				 	 	D.DEPARTMENT_NAME LIKE '%' || #{ searchMap.searchValue } || '%'
        				  	 </if>
        				  	 <if test="searchMap.searchCondition == 'searchMemberName'">
            					C.KOREAN_NAME LIKE '%' || #{ searchMap.searchValue } || '%'
           					 </if>
          					  <if test="searchMap.searchCondition == 'searchMemberNo'">
            					C.MEMBER_NO LIKE '%' || #{ searchMap.searchValue } || '%'
          					  </if>
          					AND C.COMPANY_NO = #{ companyNo }
        				  </where>
        				   ORDER BY C.MEMBER_NO DESC
          		  		  ) B
          		  	<![CDATA[
                  WHERE ROWNUM <= #{ selectCriteria.endRow }
                  ]]>
          	   ) A 
         WHERE A.RNUM >= #{ selectCriteria.startRow }  
	</select>
	
	<select id="selectWorkAttitudeList" resultMap="workCommuteMap">
		SELECT
               A.COMMUTE_NO
             , A.YEAR_AND_MONTH
             , A.WORK_START_TIME
             , A.WORK_END_TIME
             , A.TARDY_STATUS
             , A.EARLY_LEAVE_STATUS
             , A.ABSENT_STATUS
             , A.HOLIDAY_NO
          FROM TBL_COMMUTE A
         WHERE A.COMPANY_NO = #{ memberInfo.companyNo }
           AND A.YEAR_AND_MONTH LIKE #{ formatedNow }
		   AND A.ID_NO = #{ memberInfo.IdNo }
		 ORDER BY 2 ASC
	</select>
	
	<select id="selectUpdateList" resultMap="workUpdateMap">
		SELECT
               A.ID_NO
             , A.RNUM
             , A.MEMBER_NO
             , A.KOREAN_NAME
             , A.DEPARTMENT_NAME
             , A.RANK
             , A.HIRE_DATE
          FROM (SELECT ROWNUM RNUM
          			 , B.ID_NO
          			 , B.MEMBER_NO
          			 , B.KOREAN_NAME
          			 , B.DEPARTMENT_NAME
          			 , B.RANK
          			 , B.HIRE_DATE
          		 FROM  (SELECT DISTINCT C.ID_NO
          		 			 , C.MEMBER_NO
          		 			 , C.KOREAN_NAME
          		 			 , C.HIRE_DATE
          		 			 , D.DEPARTMENT_NAME
          		 			 , F.RANK
          		 		  FROM TBL_EMPLOYEE C
          		 		  JOIN TBL_DEPARTMENT D ON(C.DEPARTMENT_NO = D.DEPARTMENT_NO)
          		 		  JOIN TBL_EMP_SALARY_STEP E ON(C.ID_NO = E.ID_NO)
          		 		  JOIN TBL_RANK_SALARY_STEP F ON(E.SALARY_STEP_BY_RANK = F.SALARY_STEP_BY_RANK)
          		 		  <where>
          		 		  <if test="searchMap.searchCondition == 'searchDeptName'">
          		 		  	D.DEPARTMENT_NAME LIKE '%' || #{ searchMap.searchValue } || '%'
          		 		  </if>
          		 		  <if test="searchMap.searchCondition == 'searchMemberName'">
            					C.KOREAN_NAME LIKE '%' || #{ searchMap.searchValue } || '%'
           				  </if>
           				  <if test="searchMap.searchCondition == 'searchMemberNo'">
            					C.MEMBER_NO LIKE '%' || #{ searchMap.searchValue } || '%'
          				  </if>
          				AND C.COMPANY_NO = #{ companyNo }
          		 	  </where>
          		 	  ORDER BY C.MEMBER_NO DESC
          		  	) B
          		<![CDATA[
               WHERE ROWNUM <= #{ selectCriteria.endRow }
               ]]>
          ) A
		WHERE A.RNUM >= #{ selectCriteria.startRow }  	
	</select>
	
	<select id="selectWorkAttitude" resultMap="workCommuteMap">
		SELECT
			   COMMUTE_NO
			 , WORK_START_TIME
			 , WORK_END_TIME
		  FROM TBL_COMMUTE
		 WHERE COMPANY_NO = #{ updateDTO.companyNo }
		   AND MEMBER_NO = #{ updateDTO.memberNo }
		   AND YEAR_AND_MONTH LIKE #{ updateDate }
	</select>
	
	<insert id="insertWorkAttitude">
		INSERT INTO
			TBL_COMMUTE_UPDATE
		(
		  COMPANY_NO
		, WORK_ATTITUDE_UPDATE_NO
		, WRITER
		, CHANGE_WANT_DATE
		, UPDATE_DATE
		, COMMUTE_NO
		, AFTER_CHANGE_START_TIME
		, AFTER_CHANGE_END_TIME
		, MEMBER_NO
		)
		VALUES
		(
		  #{ updateDTO.companyNo}
		, SEQ_COMMUTE_UPDATE.NEXTVAL
		, #{ updateDTO.name}
		, SYSDATE
		, #{ updateDTO.updateDate}
		, #{ commuteDTO.commuteNo }
		, #{ commuteDTO.workStartTime }
		, #{ commuteDTO.workEndTime }
		, #{ updateDTO.memberNo }
		)
	</insert>
	
	<update id="updateWorkAttitude" parameterType="com.nextLevel.hero.mngWorkAttitude.model.dto.MngUpdateDTO">
		UPDATE
			   TBL_COMMUTE
		   SET YEAR_AND_MONTH = #{ updateDTO.updateDate }
		     , WORK_START_TIME = #{ updateDTO.goTime}
			 , WORK_END_TIME = #{ updateDTO.offTime}
		 WHERE COMPANY_NO = #{ updateDTO.companyNo }
		   AND MEMBER_NO = #{ updateDTO.memberNo }
		   AND YEAR_AND_MONTH LIKE #{ updateDate }
	</update>
	
	<select id="selectUpdateAttitudeList" resultMap="workUpdateViewMap">
		SELECT
               A.WORK_ATTITUDE_UPDATE_NO
             , A.WRITER
             , A.CHANGE_WANT_DATE
             , A.UPDATE_DATE
             , A.AFTER_CHANGE_START_TIME
             , A.AFTER_CHANGE_END_TIME
          FROM TBL_COMMUTE_UPDATE A
         WHERE A.COMPANY_NO = #{ companyNo }
		   AND A.MEMBER_NO = #{ memberNo }
		 ORDER BY 1 ASC
	</select>
	
	
	
	



</mapper>