<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextLevel.hero.salary.model.dao.SalaryMapper">
	<resultMap type="com.nextLevel.hero.salary.model.dto.MyAccountDTO" id="accountListResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<id property="bankCode" column="BANK_CODE"/>
		<result property="bankName" column="BANK_NAME"/>
		<result property="accountNo" column="ACCOUNT_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
	</resultMap>


	<resultMap type="com.nextLevel.hero.salary.model.dto.BankListDTO" id="bankListResultMap">
		<id property="code" column="BANK_CODE"/>
		<result property="bankName" column="BANK_NAME"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.salary.model.dto.SalaryDTO" id="paymentResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<result property="category" column="SALARY_OR_BONUS"/>
		<result property="yearAndMonth" column="IMPUTED_YEAR_AND_MONTH"/>
		<result property="payDate" column="PAY_DATE"/>
		<result property="transferAmount" column="TRANSFER_AMOUNT"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="rank" column="RANK"/>
		<result property="salaryStep" column="SALARY_STEP"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngSalary.model.dto.DetailPayDTO" id="payListResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<id property="divNo" column="SALARY_NO"/>
		<result property="idNo" column="ID_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="salaryName" column="SALARY_NAME"/>
		<result property="imputedDate" column="IMPUTED_YEAR_AND_MONTH"/>
		<result property="payDate" column="PAY_DATE"/>
		<result property="salaryAmount" column="SALARY_AMOUNT"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="salOrBonus" column="SALARY_OR_BONUS"/>
		<result property="deductYn" column="DEDUCTION_YN"/>
	</resultMap>
	
	<resultMap type="com.nextLevel.hero.mngSalary.model.dto.DetailPayDTO" id="deductListResultMap">
		<id property="companyNo" column="COMPANY_NO"/>
		<id property="divNo" column="EMP_DEDUCT_NO"/>
		<result property="idNo" column="ID_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="salaryName" column="DEDUCTION_NAME"/>
		<result property="imputedDate" column="IMPUTED_YEAR_AND_MONTH"/>
		<result property="payDate" column="PAY_DATE"/>
		<result property="salaryAmount" column="DEDUCTIBLE_AMOUNT"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="salOrBonus" column="SALARY_OR_BONUS"/>
		<result property="deductYn" column="DEDUCTION_YN"/>
	</resultMap>
	
	
	<select id="selectAccountList" resultMap="accountListResultMap" parameterType="_int">
		SELECT
               A.COMPANY_NO
             , A.BANK_CODE
             , A.ACCOUNT_NO
             , A.MEMBER_NO
             , B.KOREAN_NAME AS MEMBER_NAME
             , B.ID_NO
             , C.DEPARTMENT_NAME
             , A.ENROLL_DATE
             , D.BANK_NAME
          FROM TBL_EMP_ACCOUNT_UPDATE A
          JOIN TBL_EMPLOYEE B ON (A.MEMBER_NO = B.MEMBER_NO)
          JOIN TBL_DEPARTMENT C ON (B.DEPARTMENT_NO = C.DEPARTMENT_NO)
          JOIN TBL_BANK D ON (A.BANK_CODE = D.BANK_CODE)
         WHERE A.COMPANY_NO = #{ companyNo }
           AND B.ID_NO = #{ idNo }
	</select>
	
	<select id="selectBankList" resultMap="bankListResultMap">
	    SELECT
	           A.BANK_CODE
	         , A.BANK_NAME
          FROM TBL_BANK A
	</select>
	
	<select id="ckeckAccountYn" resultMap="accountListResultMap">
		SELECT 
		       A.MEMBER_NO
		     , B.BANK_CODE  
		  FROM TBL_EMPLOYEE A
		  LEFT JOIN TBL_EMP_ACCOUNT B ON (A.ID_NO = B.ID_NO)
		 WHERE A.COMPANY_NO = #{ companyNo }
		   AND A.ID_NO = #{ idNo }
		    OR B.ID_NO = #{ idNo }
		   AND B.BANK_CODE IS NULL    
	</select>
	
	<update id="updateAccount">
		UPDATE
		       TBL_EMP_ACCOUNT
		   SET BANK_CODE = #{ bankCode }
		     , ACCOUNT_NO = #{ accountNo }
	         , ENROLL_DATE = SYSDATE
	     WHERE COMPANY_NO = #{ companyNo }
	       AND MEMBER_NO = #{ memberNo }
	</update>
	
	<insert id="insertNewAccount">
		INSERT
			  INTO TBL_EMP_ACCOUNT
			VALUES
			(
			  #{ companyNo }
			, #{ bankCode }
			, #{ memberNo }
			, #{ accountNo }
			, SYSDATE
			, #{ idNo }
			)	
	</insert>
	
	<insert id="insertAccUpdateTbl">
		INSERT
			  INTO TBL_EMP_ACCOUNT_UPDATE
			VALUES
			(
			  #{ companyNo }
			, #{ memberNo }
			, #{ accountNo }
			, SYSDATE
			, #{ idNo }
			, SEQ_ACC_UPDATE_NO.NEXTVAL
			, #{ bankCode }
			)	
	</insert>
	
	<select id="selectMyPaymentList" resultMap="paymentResultMap">
		SELECT
		       A.SALARY_OR_BONUS
		     , A.IMPUTED_YEAR_AND_MONTH
		     , A.PAY_DATE
		     , A.TRANSFER_AMOUNT
		     , A.RANK
		     , A.SALARY_STEP
		     , B.KOREAN_NAME AS MEMBER_NAME
		  FROM TBL_SALARY_AND_BONUS_LIST A
		  JOIN TBL_EMPLOYEE B ON (A.ID_NO = B.ID_NO)
		 WHERE A.COMPANY_NO = #{ companyNo }
		   AND A.ID_NO = #{ idNo }
		   AND A.CONFIRM_YN = 'Y'
		 <if test="searchDate != null and '' != searchDate">
		   AND A.PAY_DATE = #{ searchDate }
		 </if>		  
		 ORDER BY A.PAY_DATE DESC   	
	</select>
	
	<select id="listPayDetail" resultMap="payListResultMap">
		SELECT 
		       A.SALARY_NAME
		     , A.SALARY_AMOUNT
		  FROM TBL_DETAIL_PAY A
		 WHERE A.COMPANY_NO = #{ companyNo }
		   AND A.ID_NO = #{ idNo }
		   AND A.PAY_DATE = #{ searchDate }
		   AND A.IMPUTED_YEAR_AND_MONTH = #{ yearAndMonth }
		   AND A.SALARY_OR_BONUS = #{ category }  
	</select>
	
	<select id="listDeductDetail" resultMap="deductListResultMap">
		SELECT 
		       A.DEDUCTION_NAME
		     , A.DEDUCTIBLE_AMOUNT
		  FROM TBL_DETAIL_DEDUCTION A
		 WHERE A.COMPANY_NO = #{ companyNo }
		   AND A.ID_NO = #{ idNo }
		   AND A.PAY_DATE = #{ searchDate }
		   AND A.IMPUTED_YEAR_AND_MONTH = #{ yearAndMonth }
		   AND A.SALARY_OR_BONUS = #{ category }  
	</select>
	
	
	
	
	
</mapper>