<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">

<!-- plugins -->
<link th:href="@{/libs/flatpickr/flatpickr.min.css}" rel="stylesheet"
	type="text/css" />

<!-- App css -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" id="bs-default-stylesheet" />
<link th:href="@{/css/app.min.css}" rel="stylesheet" type="text/css"
	id="app-default-stylesheet" />

<link th:href="@{/css/bootstrap-dark.min.css}" rel="stylesheet"
	type="text/css" id="bs-dark-stylesheet" disabled />
<link th:href="@{/css/app-dark.min.css}" rel="stylesheet"
	type="text/css" id="app-dark-stylesheet" disabled />


<!-- icons -->
<link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css" />
<title>인사관리 프로그램 HERO</title>

<style>
h5 {
	color: red;
}

div>button, input[type=submit] {
	width: 200px;
	margin-top: 10px;
}
</style>
</head>
<body class="authentication-bg">

	<div class="account-pages my-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-10">
					<div class="card">
						<div class="card-body p-0">
							<div class="row g-0">
								<div class="col-lg-6 p-4">
									<div class="mx-auto">
										<a href="/member/login">
										 <img th:src="@{/images/icon.png}"
											alt="" height="64" />
										</a>
									</div>
									<h6 class="h1 mb-0 mt-3" align="center">< 아이디 찾기 ></h6>
									<p class="text-muted mt-1 mb-4">HERO 아이디를 찾기 위해서는 본인의 성함, 사전에 등록한 휴대 번호가 필요합니다.</p>

									<form action="/member/findId" method="post" id="loginForm"
										class="authentication-form">

									<div class="mb-3">
											<label class="form-label">Name</label>
											<div class="input-group">
												<span class="input-group-text"> <i class="icon-dual"
													data-feather="user"></i>
												</span> <input type="text" class="form-control" name="username"
													id="username" placeholder="이름">
											</div>
										</div>
										<div class="mb-3">
											<label class="form-label">phone</label>
											<div class="input-group">
												<span class="input-group-text"> <i class="icon-dual"
													data-feather="phone"></i>
												</span> <input type="number" class="form-control" name="phone"
													id="phone" placeholder="휴대전화 번호">
											</div>
										</div>

										<div class="mb-3 text-center d-grid">
											<button style="width: 470px" class="btn btn-primary"
												type="submit">아이디 찾기</button>
										</div>
										<div align="center">
											<a href="/member/findIdForm"
												class="float-center text-muted text-unline-dashed ms-1">아이디&nbsp;
												찾기</a>&nbsp; / <a href="/member/findPasswordForm"
												class="float-center text-muted text-unline-dashed ms-1">비밀번호&nbsp;
												찾기</a>
										</div>
										<br>
										<div align="center">
										<a href="/member/login" 
												class="float-center text-muted ms-1"><u>로그인</u></a>
												</div>
									</form>
								</div>
								<div class="col-lg-6 d-none d-md-inline-block">
									<div class="auth-page-sidebar">
										<div class="overlay"></div>
										<div class="auth-user-testimonial">
											<p class="fs-24 fw-bold text-white mb-1">인력 관리가 기업의 힘이다!</p>
											<p class="lead">인사관리 프로그램 HERO 입니다.</p>
											<p>- HERO 개발자</p>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!-- end card-body -->
					</div>
					<!-- end card -->
					<!-- end row -->
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</div>

	<script>
		
		$(function() {
			$("input[name=userId]").focus();

			$("input[type=submit]").click(function() {
				$("#loginForm").submit();
			});
		})
	</script>
	<script th:src="@{/js/vendor.min.js}"></script>
	<script th:src="@{/js/app.min.js}"></script>
</body>
</html>