<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
	.memNo, .memName, .deptName {
		width: 100px;
		text-align: center;
		background-color: rgba( 255, 255, 255, 0 );
		border: none;
		outline: none;	
	}
	
</style>
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title"><b>4대보험 공제항목</b></h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							<div>
								<label style="margin:12px;">설정일자 </label><input type="date" style="margin:0px 0px 0px 30px;">
								<button type="button" class="btn btn-outline-primary" style="margin:5px;">검 색</button>				
							</div>
							<br>
							<div class="col-10" style="margin:0 auto;">
								<div class="card">
									<div class="card-body">
									<form action="/mngSalary/updateInsurances" method="POST" modelAttribute= "fourInsuranceList">
										<table class="table table-striped dt-responsive nowrap w-80 text-center" id="deduct">
											<thead>
												<tr>								
													<th>사원번호</th>											
													<th>성명 </th>											
													<th>소 속</th>											
													<th>설정시작일</th>																	
													<th><input type="checkbox" id="all_health" style="margin:5px;"> 건강보험</th>									
													<th><input type="checkbox" id="all_pension" style="margin:5px;"> 국민연금</th>									
													<th><input type="checkbox" id="all_unemployee" style="margin:5px;"> 고용보험</th>									
													<th><input type="checkbox" id="all_industry" style="margin:5px;"> 산재보험</th>																				
												</tr>
											</thead>
											
											<tbody>
												<tr th:each="fourIns,fourInsStat : ${fourInsuranceList}">
													<td><input type="text" readonly th:value="${fourIns.memberNo}"  class="memNo" th:name="'fourInsuranceList['+${fourInsStat.index} + '].memberNo'"></td>
													<td><input type="text" readonly th:value="${fourIns.memberName}" class="memName" th:name="'fourInsuranceList['+${fourInsStat.index} + '].memberName'"></td>
													<td><input type="text" readonly  th:value="${fourIns.departmentName}" class="deptName" th:name="'fourInsuranceList['+${fourInsStat.index} + '].departmentName'"></td>
													<td><input type="text" class="validateEdit" th:value="${fourIns.validateDate}" style="width:120px; text-align: center;" th:name="'fourInsuranceList['+${fourInsStat.index} + '].validateDate'"></td>
													<td><input type="checkbox" class="health" th:checked="${fourIns.healthYn == 'Y'}" style="margin:5px;" th:name="'fourInsuranceList['+${fourInsStat.index} + '].healthYn'"> 건강보험</td>
													<td><input type="checkbox" class="pension" th:checked="${fourIns.pensionYn == 'Y'}" style="margin:5px;" th:name="'fourInsuranceList['+${fourInsStat.index} + '].pensionYn'">국민연금</td>
													<td><input type="checkbox" class="unemployee" th:checked="${fourIns.unemployeeYn == 'Y'}" style="margin:5px;" th:name="'fourInsuranceList['+${fourInsStat.index} + '].unemployeeYn'">고용보험</td>
													<td><input type="checkbox" class="industry" th:checked="${fourIns.industryYn == 'Y'}" style="margin:5px;" th:name="'fourInsuranceList['+${fourInsStat.index} + '].industryYn'">산재보험</td>
												</tr>
											</tbody>
										</table>
										<br>
										<button type="submit" class="btn btn-success" id="modi" style="float: right;">변경 적용</button>
									</form>
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
		</div>
	</div>
	<script type="text/javascript">
	
	$('#all_health').on("click", function() {
		if($("input:checkbox[id='all_health']").prop("checked")){
			$("input:checkbox[class='health']").prop("checked", true);
		} else {
			$("input:checkbox[class='health']").prop("checked", false);
		}
	});
	
	$('#all_pension').on("click", function() {
		if($("input:checkbox[id='all_pension']").prop("checked")){
			$("input:checkbox[class='pension']").prop("checked", true);
		} else {
			$("input:checkbox[class='pension']").prop("checked", false);
		}
	});
	
	$('#all_unemployee').on("click", function() {
		if($("input:checkbox[id='all_unemployee']").prop("checked")){
			$("input:checkbox[class='unemployee']").prop("checked", true);
		} else {
			$("input:checkbox[class='unemployee']").prop("checked", false);
		}
	});
	
	$('#all_industry').on("click", function() {
		if($("input:checkbox[id='all_industry']").prop("checked")){
			$("input:checkbox[class='industry']").prop("checked", true);
		} else {
			$("input:checkbox[class='industry']").prop("checked", false);
		}
	});
	
	/*$("[id^=name]").change(function(){
		
		const memId = $(this).siblings(".memId").text();
		
		console.log(memId);
			
	});
	
	$("#modi").click(function() {
		
		const tbody = $("#deducT > tbody");
		const rows = tbody.children();
		
		const deductList = [];	
		
		rows.each(function() {
			const personal = {};
			personal.memNo = $(this).find(".memNo").text();
			personal.memName = $(this).find(".memName").text();
			personal.deptName = $(this).find(".deptName").text();
			personal.validate = $(this).find(".validateEdit").val();
			
			
			if($(this).find(".health").prop("checked")) {
				personal.health = "Y";
			} else {
				personal.health = "N";
			}
			
			if($(this).find(".pension").prop("checked")) {
				personal.pension = "Y";
			} else {
				personal.pension = "N";
			}
			
			if($(this).find(".unemployee").prop("checked")) {
				personal.unemployee = "Y";
			} else {
				personal.unemployee = "N";
			}
			
			if($(this).find(".industry").prop("checked")) {
				personal.industry = "Y";
			} else {
				personal.industry = "N";
			}
			
			deductList.push(personal);
		});
		
		
		console.log(deductList);
		let list = JSON.stringify(deductList);
		
		
		$.ajax({
			url:"updateInsurances",
			method: "POST",
			data: { list : list },
			success: function(data, testStatus, xhr) {
				alert("컨트롤러 넘김");
			},
			error: function(xhr, status, error) {
				alert("AGAIn");
			}
				
			
		});
		
		
	});*/
	
	</script>
</body>
</html>