<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
<style>
.thSpan {
	vertical-align : middle;
	text-align: center;
}

</style>
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title"><b>예수금</b></h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							<div>
								<form action="/mngSalary/depositHistory" method="GET">
									<label style="padding:10px;">지급일자 </label><input type="date" name="searchDate" id="searchDate"><br>
									<label style="padding:10px;">귀속년월 </label><input type="text" style="width:70px;" id="year" name="year" placeholder="2021"><label style="padding:5px;">년</label><input type="text" style="width:40px;" id="month" name="month" placeholder="09"><label style="padding:5px;">월</label>
									<button type="submit" class="btn btn-outline-primary" style="margin:10px;">검 색</button>
								</form>
							</div>
							<br>
							<div class="card">
								<div class="card-body" style=" height:800px; overflow-y:scroll;">
									<table class="table table-bordered mb-0 nowrap w-100 text-center">										
										<thead>
											<tr>								
												<th rowspan = '3' class="thSpan">사원번호</th>											
												<th rowspan = '3' class="thSpan">성 명</th>											
												<th rowspan = '3' class="thSpan">소 속</th>										
												<th rowspan = '3' class="thSpan">귀속년월</th>										
												<th rowspan = '3' class="thSpan">소득세</th>										
												<th rowspan = '3' class="thSpan">주민세</th>										
												<th colspan = '4'>건강보험</th>											
												<th colspan = '2'>국민연금</th>																							
												<th colspan = '3'>고용보험</th>
												<th rowspan = '3' class="thSpan">산재보험</th>																							
												<th rowspan = '3' class="thSpan">기타공제</th>																							
											</tr>
											<tr>											
												<th colspan = '2'>근로자</th>																																		
												<th colspan = '2'>사용자</th>																																		
												<th>근로자</th>																																		
												<th>사용자</th>																																		
												<th>근로자</th>																																		
												<th colspan = '2'>사용자</th>																																																																			
											</tr>
											<tr>											
												<th>건강보험</th>																																		
												<th>장기요양</th>																																		
												<th>건강보험</th>																																		
												<th>장기요양</th>																																		
												<th>연금보험</th>																																		
												<th>연금보험</th>																																		
												<th>실업급여</th>																																		
												<th>실업급여</th>																																		
												<th>고안직능</th>																																		
											</tr>
										</thead>
											
										<tbody>
											<tr th:each="deposit : ${depositList}">
												<td th:text="${deposit.memberNo}" ></td>
												<td th:text="${deposit.memberName}"></td>
												<td th:text="${deposit.departmentName}"></td>
												<td th:text="${deposit.yearAndMonth}"></td>
												<td th:text="${#numbers.formatInteger(deposit.incomeTax, 3, 'COMMA')}"></td>
												<td th:text="${#numbers.formatInteger(deposit.residentTax, 3, 'COMMA')}"></td>
												<td th:text="${#numbers.formatInteger(deposit.health, 3, 'COMMA')}"></td>
												<td th:text="${#numbers.formatInteger(deposit.longterm, 3, 'COMMA')}"></td>
												<td th:text="${#numbers.formatInteger(deposit.health, 3, 'COMMA')}"></td>
												<td th:text="${#numbers.formatInteger(deposit.longterm, 3, 'COMMA')}"></td>
												<td th:text="${#numbers.formatInteger(deposit.pension, 3, 'COMMA')}"></td>
												<td th:text="${#numbers.formatInteger(deposit.pension, 3, 'COMMA')}"></td>
												<td th:text="${#numbers.formatInteger(deposit.workerEmp, 3, 'COMMA')}"></td>
												<td th:text="${#numbers.formatInteger(deposit.workerEmp, 3, 'COMMA')}"></td>
												<td th:text="${#numbers.formatInteger(deposit.employerEmp, 3, 'COMMA')}"></td>
												<td th:text="${#numbers.formatInteger(deposit.industry, 3, 'COMMA')}"></td>
												<td th:text="${#numbers.formatInteger(deposit.etcDeduct, 3, 'COMMA')}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
		</div>
	</div>
</body>
</html>