<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
<style>
	#accountList {
		vertical-align : middle;
 		text-align: center;
	}
</style>
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title"><b>급여 계좌</b></h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							<div>
								<form action="/mngSalary/payrollAccount">
									<label style="margin:10px;">검색</label>
									<select style="width:100px" id="searchCondition" name="searchCondition">
										<option value="deptName">부서명</option>
										<option value="memberName">성 명</option>
									</select>
									<input type="text" style="margin:10px;" id="searchValue" name="searchValue"><button type="button" class="btn btn-outline-primary">검 색</button>
								</form>
							</div>
							<br>
							<div class="row">
								<div class="col-xl-7">
		                            <div class="row">
		                                <div class="col">
											<div class="card">
		                                        <div class="card-body" style="height:600px; overflow-y:scroll;">
													<div class="row">				                                                
		                                                <table class="table mb-0 text-center" id="accountList">
															<thead>
																<tr>
																	<th>구 분</th>											
																	<th>사원번호</th>											
																	<th>성 명</th>											
																	<th>소 속</th>											
																	<th>직 급</th>											
																	<th>은 행</th>											
																	<th>계좌번호</th>																					
																</tr>
															</thead>
																
															<tbody>
																<tr th:each="account,num : ${memAccount}">
																	<td th:text="${num.count}"></td>
																	<td th:text="${account.memberNo}" th:id="${'memberNo' + num.count}"></td>
																	<td th:text="${account.memberName}" th:id="${'memberName' + num.count}"></td>
																	<td th:text="${account.departmentName}" th:id="${'departmentName' + num.count}"></td>
																	<td th:text="${account.rank}" th:id="${'rank' + num.count}"></td>
																	<td th:text="${account.bankName}"></td>
																	<td th:text="${account.accountNo}"></td>
																</tr>
															</tbody>
														</table>
		                                            </div>    
		                                        </div>        
				                            </div>
				                        </div>
				                    </div>
			                    </div>
	                            <div class="col-xl-5">
		                            <div class="card">
		                                <div class="card-body">
		                                   <div>
		                                       <label style="margin:5px; display: none;" id="memberNo" ></label>
		                                       <label style="margin:10px;">소속 :</label><label id="deptName" style="margin:5px;"></label><br>
		                                       <label style="margin:10px;">성명 :</label><label id="memName" style="margin:5px;"></label>	                                  
                                            </div>
                                            <br>
		                                    <div class="row">
		                                        <table class="table table-sm mb-0 text-center" id="accountList">
															<thead class="table-light">
																<tr>
																	<th colspan="2">은 행</th>																					
																	<th>계좌번호</th>											
																	<th>설정일자</th>							
																</tr>
															</thead>
																
															<tbody id="personalAccount">
																
															</tbody>
														</table>
		                                    </div>
		                                </div>
		                             </div>
	                             </div>
                         	</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
		</div>
	</div>
	<script>
		
	 $("#accountList tbody tr").click(function() {
		 
		 const memNo = $(this).find("[id^=memberNo]").text();
		 const departName = $(this).find("[id^=departmentName]").text();
		 const memName = $(this).find("[id^=memberName]").text();
		 
		 $("#deptName").text(departName);
		 $("#memName").text(memName);
		 
		 $.ajax({
			 url:"personalAccountList",
			 method: "POST",
			 data: {"memberNo" : memNo },
			 success: function(data) {
				 const aList = $("#personalAccount");
				 aList.html("");
				 
				 for(let index in data) {
					 aList.append($("<tr>").append($("<td>").text(data[index].bankCode))
							               .append($("<td>").text(data[index].bankName))
							               .append($("<td>").text(data[index].accountNo))
							               .append($("<td>").text(data[index].enrollDate))							               						 
					 )
				 }
				 
			 },
			 error: function(xhr) {
				 Swal.fire({
	       			  position: 'center',
	       			  icon: 'error',
	       			  title: '개인별 계좌 리스트 조회에 실패하였습니다.',
	       			  showConfirmButton: false,
	       			  timer: 1500,
	       			  width: 600
	       		})
			 }		 
		 });
	 });
	
	
	
	</script>

</body>
</html>