<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
[class*=well] {
	vertical-align : middle;
 	text-align: center;
}
.textmode {
	writing-mode: vertical-lr;
	vertical-align : middle;
	width: 15%;
	letter-spacing: 5px;
}
.categoryName, [class*=Amount], [class*=Sum] {
	text-align: center;
	vertical-align : middle;
	background-color: rgba( 255, 255, 255, 0 );
	border: none;
	outline: none;
	width: 50px;
}
.totalTbl input {
	width: 80px;
	text-align: center;
	vertical-align : middle;
	background-color: rgba( 255, 255, 255, 0 );
	border: none;
	outline: none;
}

</style>
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title">급·상여</h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							<div class="row">
								<div class="col-xl-9">
									<div class="row">
										<!-- 검색 영역 -->
										<div class="col-xl-7 top"> 
											<div class="card">
		                                        <div class="card-body">
		                                        	<form id="searchForm" action="/mngSalary/listSalaryAndBonus" method="GET">
		                                        	 <table class="table table-sm table-borderless mb-0">
		                                        	 	<tr>
		                                        	 		<td colspan="2"><input type="radio" class="form-check-input" name="category" id="salary" value="급여" style="padding:5px;" required><label style="padding:5px;">급여</label>
		                                        	 		<input type="radio" class="form-check-input" name="category" id="bonus" value="상여" required><label style="padding: 5px;">상여</label>
		                                        	 		<select name="bonusCategory" id="bonusCategory"></select></td>
		                                        	 	</tr>
		                                        	 	<tr>
                                              		 		<td><label>지급일자</label></td>
                                              		 		<td><input type="date" name="searchPayDate" id="searchPayDate"></td>
                                             		  	<tr>
                                             		  		<td><label>귀속년월</label></td>
                                             		  		<td><input type="text" name="year" style="width:50px;" id="year"><label style="padding: 5px;">년</label><input type="text" name="month" id="month" style="width:30px;"><label style="padding: 5px;">월</label></td>
                                             		  	</tr>	
                                             		 </table> 	                                            	                                              		 												
													</form>
                                             		 <button type="button" id="startBtn" class="btn btn-soft-primary" style="float: right;">조 회</button>
												</div>
											</div>	
										</div>
										<!-- 총 인원 및 지급 총액 합계 -->
										<div class="col-xl-5 top">
											<div class="card">
		                                        <div class="card-body">
		                                        <p class="sub-header"><code>자동 연산</code> 항목입니다</p>		                                        	
													<table class="table table-sm table-borderless mb-0">																			
														<tr>
															<td style="width:30%"><label>지급 인원</label></td>
															<td><input type="text" style="width:80px;"><label style="padding:5px;">명</label></td>
														</tr>
														<tr>
															<td style="width:30%"><label>지급 총액</label></td>
															<td><input type="text"><label style="padding:5px;">원</label></td>
														</tr>
													</table>
													
												</div>
											</div>
										</div>
									</div>
									<!-- 급여 지급 인원 리스트 -->
		                            <div class="row">
		                                <div class="col">
											<div class="card">
		                                        <div class="card-body">
													<div class="row">														
														<div>
															<button type="button" id="checkAdd" class="btn btn-warning" style="margin:5px; display:none;">소급확인</button>
															<button type="button" id="delLine" class="btn btn-soft-danger" style="margin:5px; display:none;">라인삭제</button>
															<button type="reset" id="zero" class="btn btn-success" style="margin:5px; display:none;">적용전체취소</button>
														</div>
														<table class="table table-striped dt-responsive nowrap w-100 well" id="totalList">
															<thead>
																<tr>
																	<th>사원번호</th>
																	<th>성 명</th>
																	<th>소 속</th>
																	<th>직 급</th>
																	<th>호 봉</th>
																	<th>연장근로시수</th>
																	<th>지급총액</th>
																	<th>공제총액</th>
																	<th>실지급액</th>
																</tr>
															</thead>
														
															<tbody class="totalTbl">
																<tr th:each="sal, salStat : ${basicSalList}" th:if="${not #strings.isEmpty(basicSalList)}">
																	<td><input type="text" readonly th:value="${sal.memberNo}" class="memberNo" th:id="${'memberNo' + salStat.index }"></td>
																	<td><input type="text" readonly th:value="${sal.memberName}" class="memberName" th:id="${'memberName' + salStat.index }"></td>
																	<td><input type="text" readonly th:value="${sal.departmentName}" class="departmentName" th:id="${'departmentName' + salStat.index}"></td>
																	<td><input type="text" readonly th:value="${sal.rank}" class="rank" th:id="${'rank' + salStat.index}"></td>
																	<td><input type="text" readonly th:value="${sal.salaryStep}" class="salaryStep" th:id="${'salaryStep' + salStat.index}"></td>
																	<td><input type="text" readonly class="addWorkHour"></td>
																	<td><input type="text" readonly th:value="${sal.salaryAmount}" class="salaryTotal" th:id="${'salaryTotal' + salStat.index}"></td>
																	<td><input type="text" readonly th:value="${sal.deductAmount}" class="deductTotal" th:id="${'deductTotal' + salStat.index}"></td>
																	<td><input type="text" readonly th:value="${sal.transferAmount}" class="transferTotal" th:id="${'transferTotal' + salStat.index}"></td>																	
																</tr>
															</tbody>
														</table>
														<div style="display:none;" id="printbtn">
															<div class="btn-group">
	                                                            <button type="button" class="btn btn-soft-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
	                                                                출 력 <i class="uil uil-angle-down"></i>
	                                                            </button>
	                                                            <div class="dropdown-menu">
	                                                                <a class="dropdown-item" href="#">부서별</a>
	                                                                <a class="dropdown-item" href="#">개인별</a>
	                                                            </div>
	                                                        </div>
                                                        </div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 개인별 세부 항목 수정칸 -->
								<div class="col-xl-3">
		                            <div class="card">
		                                <div class="card-body">
		                                    <div class="row">
		                                    	<table class="table table-bordered mb-0 text-center well">
													<thead class="table-light">
														<tr>
															<th colspan="2" style="width: 50%;">항 목</th>
															<th>금 액</th>
														</tr>
													</thead>
														
													<tbody id="detail">
														<tr>
															<td rowspan="8" class="textmode"><b>지급 금액</b></td>															
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="salaryAmount"></td>
														</tr>
														<tr>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="salaryAmount"></td>
														</tr>
														<tr>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="salaryAmount"></td>
														</tr>
														<tr>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="salaryAmount"></td>
														</tr>
														<tr>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="salaryAmount"></td>
														</tr>
														<tr>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="salaryAmount"></td>
														</tr>
														<tr>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="salaryAmount"></td>
														</tr>
														<tr>
															<td><b>지급 총액</b></td>
															<td><input type="text" readonly class="salarySum"></td>
														</tr>
														<tr>
															<td rowspan="8" class="textmode"><b>공제 금액</b></td>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="deductAmount"></td>
														</tr>
														<tr>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="deductAmount"></td>
														</tr>
														<tr>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="deductAmount"></td>
														</tr>
														<tr>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="deductAmount"></td>
														</tr>
														<tr>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="deductAmount"></td>
														</tr>
														<tr>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="deductAmount"></td>
														</tr>
														<tr>
															<td><input type="text" readonly class="categoryName"></td>
															<td><input type="text" readonly class="deductAmount"></td>
														</tr>
														<tr>
															<td><b>공제 총액</b></td>
															<td><input type="text" readonly class="deductSum"></td>
														</tr>
													</tbody>
												</table>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <!-- 연산 처리를 위한 div 공간 -->
		                        <div style="display: none;">
			                        <table class="table table-striped dt-responsive nowrap w-100 well">
										<tbody id="">
											<tr>
												<td><input type="text" readonly></td>
											</tr>
										</tbody>
									</table>		
		                        </div>
							</div>
						</div>
					</div>
				</div>
			<div style="float: right; padding: 5px;">
				<button type="submit" id="save" class="btn btn-soft-info" style="margin:5px; display:none;">변경저장</button>
				<button type="submit" id="finish" class="btn btn-info" style="margin:5px; display:none;">정산완료</button>
			</div>
			</div>
			<div th:include="common/footer.html"></div>
		</div>
	</div>
	<script type="text/javascript">
	
	$("#salary").click(function() {
		$("#searchPayDate").val("");
		$("#year").val("");
		$("#month").val("");
		
		$("#searchPayDate").change(function() {
			const date = $(this).val();
			let dateSplit = date.split("-");
			
			let year = "";
			let month = "";
			
			if(dateSplit[1] == 1) {
				year = String(parseInt(dateSplit[0]) - 1);
				month = "12";
			} else {
				year = dateSplit[0];
				month = String(parseInt(dateSplit[1]) - 1);
				if(month < 10) {
					month = "0" + String(parseInt(dateSplit[1]) - 1);
				}
			}
			
			$("#year").val(year);
			$("#month").val(month);
		});
		
		
	});
	
	
	
	$("#bonus").click(function() {
		$("#searchPayDate").val("");
		$("#year").val("");
		$("#month").val("");
		
		$.ajax({
			url: "selectBonusCategory",
			method: "GET",
			success: function(data) {
				const $bonusCategory = $("#bonusCategory");
				$bonusCategory.html("");
				
				for(let index in data) {
					console.log(data);
					$bonusCategory.append($("<option>").val(data[index].bonusNo).text(data[index].bonusName));
				}
			},
			error: function(xhr) {
				Swal.fire({
	       			  position: 'center',
	       			  icon: 'error',
	       			  title: '상여 종류 조회에 실패하였습니다.',
	       			  showConfirmButton: false,
	       			  timer: 1500,
	       			  width: 600
	       		}).then((result) => {
		        	   location.reload();
	       				})
			}
		});
		
		
	});
	

	
	$("#startBtn").click(function() {
		
	
		let category = $(":input:radio[name=category]:checked").val();		
		const payDate = $("#searchPayDate").val();
		
		$.ajax({
			url:"searchSalaryAndBonus",
			method:"GET",
			data: {"category" : category, "searchPayDate": payDate},
			success: function(result) {
				if(result == "0") {
					Swal.fire({
						  title: '생성 이력이 없습니다. 생성하시겠습니까?',
						  icon: 'warning',
						  showCancelButton: true,
						  confirmButtonColor: '#25c2e3',
						  cancelButtonColor: '#43d39e',
						  confirmButtonText: '예',
						  cancelButtonText: '아니오'
						}).then((data) => {
								if(data.isConfirmed) {									
									$("#searchForm").trigger("submit");
								} else {
									location.reload();
								}
							
							})
						
				} else {
					$("#searchForm").attr("action", "/mngSalary/historySalAndBonus");
					$("#searchForm").trigger("submit");
				}
			},
			error: function(xhr) {
				Swal.fire({
	       			  position: 'center',
	       			  icon: 'error',
	       			  title: '조회에 실패하였습니다.',
	       			  showConfirmButton: false,
	       			  timer: 1500,
	       			  width: 600
	       		}).then((result) => {
		        	   location.reload();
	       				})
			}
		});
	
	
//		$("#checkAdd").show();			
//		$("#zero").show();
//		$("#save").show();
//		$("#finish").show();
		
		
	});
	
	$("#totalList tbody tr").click(function() {
		console.log("tr 클릭됨");
		
	});
	
	
	
	
	</script>
</body>
</html>