<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title">증명서 신청</h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							<div> 
							
							<table style="width: 800px; border-collapse: collapse !important; color: black; background: white; border: 1px solid black; font-size: 12px; font-family: malgun gothic,dotum,arial,tahoma;"><colgroup> 
   <col style="width: 90px;"> 
   <col style="width: 180px;"> 
   <col style="width: 90px;"> 
   <col style="width: 120px;"> 
   <col style="width: 90px;"> 
   <col style=""> 
  </colgroup> 
  
	<tbody>

	<div>

		<h1 align="center" >각종 증명서 발급 신청서</h1>
		<br><br>

			<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
				
기안부서
			</td>
			<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: left;">
			</td>
			<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
				
기 안 일
			</td>
			<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: left;">
			</td>
			<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
				
문서번호
			</td>
			<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: left; font-size: 12px;">
			</td>
			<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: center; font-weight: bold;">
				
기 안 자
			</td>
			<td style="padding: 3px; height: 20px; vertical-align: middle; border: 1px solid black; text-align: left;">
			</td>			
			
		</tr>
</div>
	</tbody>
</table>
							
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
		</div>
	</div>
</body>
</html>