<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title">개인정보 조회 및 수정</h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
								<div>
								<label style="margin:15px;">검색</label>
								<select>
									<option value="memberName">이름</option>
									<option value="deptName">부서명</option>
								</select>
								<input type="text" style="margin:10px;"><button type="button" class="btn btn-outline-primary">검 색</button>
							</div>
							<br>
							<div class="card">
								<div class="card-body">
								<table class="table table-striped dt-responsive nowrap w-100 text-center">
									<thead>
										<tr>
											<th>번호</th>
											<th>이름</th>
											<th>사번</th>
											<th>아이디</th>
											<th>부서명</th>											
											<th>수정일자</th>											
										</tr>
									</thead>


									<tbody>
										<tr th:each="member : ${ memberHistoryList }" onClick="test( this  );">
											<td th:text="${member.idNo}"  > </td>
											<td th:text="${member.koreanName}"></td>
											<td th:text="${member.memberNo}"></td>
											<td th:text="${member.memberId}"></td>
											<td th:text="${member.departmentName}"></td>
											<td th:text="${member.empUpdateDate}"></td>
										</tr>
									</tbody>
								</table>
							   </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
		</div>
	</div>
<script type="text/javascript">



 function test(e){
       console.log($(e))
       console.log("!:",$(e).text());
	   console.log("@:",$(e).html());
	   console.log("#:",$(e).children(":first").text());
	   
	   const idNo = $(e).children(":first").text();
	   
	 location.href="/mngHumanResource/memberHistoryDetail?idNo="+idNo;
	   
	   
    }
    
    
</script>
	
</body>
</html>