<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title"><b>내 급여 계좌</b></h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							<div class="col-10" style="margin:0 auto;">
								<div class="card">
									<div class="card-body">
										<table class="table table-striped dt-responsive nowrap w-80 text-center" id="account">
											<thead>
												<tr>								
													<th>구분</th>											
													<th>은행명</th>											
													<th>계좌번호</th>											
													<th>통장사본</th>										
													<th>등록일자</th>																												
												</tr>
											</thead>
											
											<tbody>
												<tr th:each="account,num : ${accountList}">
													<td th:text="${num.count}"></td>
													<td th:text="${account.bankName}"></td>
													<td th:text="${account.accountNo}"></td>
													<td></td>
													<td th:text="${account.enrollDate}"></td>
												</tr>
											</tbody>
										</table>
										<br>
										<button type="button" class="btn btn-info" id="change" style="float: right;"
										data-bs-toggle="modal" data-bs-target="#registAccount">등록</button>
										
										<!-- 급여계좌 추가 모달창 -->
										<div class="modal fade" id="registAccount" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel" aria-hidden="true">
	                                        <div class="modal-dialog modal-dialog-centered">
	                                             <div class="modal-content">
	                                                    <div class="modal-header">
	                                                        <h4 class="modal-title" id="registAccountModal"><b>급여 계좌 추가</b></h4>
	                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	                                                    </div>
	                                                    <div class="modal-body">
	                                                    	<div>
	                                                    		<form action="/salary/applyAccount" method="post">
			                                                        <label style="display: none;" id="memberNo" ></label>		                                                       
			                                                        <label style="padding:15px;">성   명 :</label><input type="text" style="margin:5px,25px;" id="memberName" required><br>
			                                                        <label style="padding:15px;">생년월일 :</label><input type="text" 
			                                                        	style="margin:5px;" placeholder="예) 900101" required><br>
			                                                        <select name="bankList" id="bankList" style="margin:10px;">
			                                                        	<!-- ajax로 구현 -->
			                                                        </select>
			                                                        <input type="text" style="margin:5px;" id="accountNo" placeholder="계좌번호를 입력해주세요" required>
			                                                        <button type="button" class="btn btn-info width-xs" id="confirm" style="margin:15px;">계좌인증</button>
		                                                        </form>
	                                                    	</div>	                                                  
	                                                    </div>
	                                              </div>
	                                        </div>
	                                     </div> <!-- 급여계좌 추가 모달창 종료 -->	                                                                                                             
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
		</div>
	</div>
	<script>
		$("#change").click(function() {
			$.ajax({
				url: "/salary/bankList",
				method: "POST",
				success: function(data) {
					const $bankList = $("#bankList");			
					$bankList.append($("<option>").text("은행명"));
					
					for(let index in data) {
						$bankList.append($("<option>").val(data[index].code).text(data[index].bankName));
					}
				},
				error: function(xhr) {
					alert("잠시 후 다시 시도해주세요");
				}
				
			});
	
		});
	
		
		$("#confirm").click(function() {
			// 계좌인증 api
			
			let tmpPage = window.open("","", "width=800, height=500");
			tmpPage.location = "https://testapi.openbanking.or.kr/oauth/2.0/authorize?" 
					+"response_type=code&"
					+"client_id=0f2b7f2e-bb90-49a7-9ed3-ae3cf94d9f92&"
					+"redirect_uri=http://127.0.0.1:8050/salary/authAccount&"
					+"scope=login inquiry&"
					+"state=12345678901234567890123456789012&"
					+"auth_type=0&"
					+"account_hold_auth_yn=Y"
					
				
			$("#registAccount").modal('hide');		
		});
	
	
	
	</script>
</body>
</html>