<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title">직원 휴가 신청 · 내역</h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							<div>
								<button type="button" class="btn btn-warning"
									id="insertVacation" data-bs-toggle="modal"
									data-bs-target="#vacationList">휴가신청</button>
							</div>
							<br>

							<div class="card">
								<div class="card-body">
									<h4 class="header-title mt-0 mb-1">본인 잔여 휴가</h4>
									<!-- 조회 테이블 -->
									<table
										class="table table-striped dt-responsive nowrap w-100 text-center">
										<thead>
											<tr>
												<th>사번</th>
												<th>이름</th>
												<th>부서</th>
												<th>1년 미만 발생월차</th>
												<th>총연차</th>
												<th>사용연차</th>
												<th>잔여연차</th>
											</tr>
										</thead>

										<tbody>
											<tr
												th:each="EmployeeAnnualVacation:${employeeAnnualVacationList}">
												<td th:text="${EmployeeAnnualVacation.memberNo}"
													class="memberNo" id="memberNo"></td>
												<td
													th:text="${EmployeeAnnualVacation.mngMemberDepartment.koreanName}"
													class="koreanName" id="memberName"></td>
												<td
													th:text="${EmployeeAnnualVacation.mngMemberDepartment.departmentName}"
													class="departmentName" id="memberDept"></td>
												<td
													th:text="${EmployeeAnnualVacation.createdMonthlyVacation}"
													class="createdMonthlyVacation"></td>
												<td th:text="${EmployeeAnnualVacation.totalVacation}"
													class="totalVacation"></td>
												<td th:text="${EmployeeAnnualVacation.usedVacation}"
													class="usedVacation"></td>
												<td th:text="${EmployeeAnnualVacation.leaveVacation}"
													class="leaveVacation"></td>
												<td th:text="${EmployeeAnnualVacation.idNo}"
													th:value="${EmployeeAnnualVacation.idNo}" class="idNo"
													hidden="hidden"></td>
												<td th:text="${EmployeeAnnualVacation.vacationCode}"
													class="vacationCode" hidden="hidden"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<h4 class="header-title mt-0 mb-1">신청 내역</h4>
									<!-- 조회 테이블 -->
									<table
										class="table table-striped dt-responsive nowrap w-100 text-center">
										<thead>
											<tr>
												<th>신청번호</th>
												<th>사번</th>
												<th>휴가종류</th>
												<th>휴가시작일</th>
												<th>휴가종료일</th>
												<th>휴가내용</th>
												<th>승인여부</th>
											</tr>
										</thead>

										<tbody>
											<tr th:each="empVacation:${employeeVacationList}">
												<td th:text="${empVacation.resquestNo}" class="resquestNo"
													id="resquestNo"></td>
												<td th:text="${empVacation.memberNo}" class="memberNo"></td>
												<td th:text="${empVacation.vacationCategory}"
													class="vacationCategory"></td>
												<td th:text="${empVacation.startDate}" class="startDate"></td>
												<td th:text="${empVacation.endDate}" class="endDate"></td>
												<td th:text="${empVacation.vacationContents}"
													class="vacationContents"></td>
												<td th:text="${empVacation.confirmedYn}" class="confirmedYn"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div th:include="common/footer.html"></div>

	<!-- 직원 휴가신청 모달창 -->
	<form action="/workattitude/vacationInsert" method="post">
		<div class="modal fade" id="vacationList" tabindex="-1" role="dialog"
			aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="employeeRequestVacationModal">휴가신청</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<div>
							<input id="memNo1" style="margin: 5px;" name="memberNo"
								hidden="hidden"></input> <label style="margin: 10px;">사번
								:</label><label id="memNo" style="margin: 5px;"></label><br> <label
								style="margin: 10px;">이름 :</label><label id="memName"
								style="margin: 5px;"></label><br> <label
								style="margin: 10px;">부서 :</label><label id="memDept"
								style="margin: 5px;"></label><br> <label
								style="margin: 10px;">휴가 신청 종류 / 휴가:</label> <select
								name="vacationCategory">
								<option th:each="vacation : ${vacationTypeList}"
									th:text="${vacation.vacationCategory} + ' : ' + ${vacation.vacationName}"
									th:value="${vacation.vacationName}"></option>
							</select><br> <label style="margin: 10px;">휴가 신청 일수</label> <br>
							<div class="row"
								style="font-size: 25px; margin-left: 2px; float: center">
								<input style="width: 150px" class="form-control" type="number"
									placeholder="휴가 지급 일수" name="vacationDate" id="vacationDate"
									required="required">&nbsp;일
							</div>
							<label style="margin: 10px;">휴가 시작일 :</label> <label
								style="margin: 5px;"> <input type="date"
								name="startDate" id="vacationStartDate" class="form-control">
							</label><br> <label style="margin: 10px;">휴가 종료일 :</label> <label
								style="margin: 5px;"> <input type="date" name="endDate"
								id="vacationEndDate" class="form-control">
							</label><br> <span><label style="margin: 10px;">휴가
									사유:</label>
							<textarea style="margin: 5px;" name="vacationContents"
									id="vacationContents" cols="30" rows="5" class="form-control"></textarea></span><br>
							<!--  <input th:id="selectedAnnualVacation" name="selectedAnnualVacation"> -->
							<input id="idNo1" style="margin: 5px;" name="idNo"
								hidden="hidden"> <input id="vacationCode1"
								style="margin: 5px;" hidden="hidden">
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success width-xs">신청</button>
						<button type="reset" class="btn btn-warning width-xs"
							data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- 직원 휴가신청 모달창 종료 -->

	<script type="text/javascript">
		$("#insertVacation").click(function(){
			const memberNo = $("#memberNo").text();
			const memberName = $("#memberName").text();
			const memberDept= $("#memberDept").text();
			const idNo = $(".idNo").text();
			console.log(idNo);
			const $memNo1 = $("#memNo1");
			const $memNo = $("#memNo");
			const $memName = $("#memName");
			const $memDept = $("#memDept");
			const $idNo1 = $("#idNo1");
			$memNo.html("");
			$memName.html("");
			$memDept.html("");
			$idNo1.html("");
			$memNo1.val(memberNo);
			$memNo.text(memberNo);
			$memName.text(memberName);
			$memDept.text(memberDept);
			$idNo1.val(idNo);
		})
	
		$("[id^=employeeReuestVacation]")
				.click(
						function() {

							const memberNo = $(this).siblings(".memberNo")
									.text();
							const koreanName = $(this).siblings(".koreanName")
									.text();
							const departmentName = $(this).siblings(
									".departmentName").text();
							const createdMonthlyVacation = $(this).siblings(
									".createdMonthlyVacation").text();
							const totalVacation = $(this).siblings(
									".totalVacation").text();
							const usedVacation = $(this).siblings(
									".usedVacation").text();
							const leaveVacation = $(this).siblings(
									".leaveVacation").text();
							const idNo = $(this).siblings(".idNo").text();
							const vacationCode = $(this).siblings(
									".vacationCode").text();
							/* 사원번호 확인 */
							//const selectedAnnualVacation = $("#selectedAnnualVacation").text(memberNo);
							const $memNo = $("#memNo");
							const $koreanName1 = $("#koreanName1");
							const $departmentName1 = $("#departmentName1");
							const $createdMonthlyVacation1 = $("#createdMonthlyVacation1");
							const $totalVacation1 = $("#totalVacation1");
							const $usedVacation1 = $("#usedVacation1");
							const $leaveVacation1 = $("#leaveVacation1");
							const $idNo1 = $("#idNo1");
							const $vacationCode1 = $("#vacationCode1");
							$memNo.html("");
							$koreanName1.html("");
							$departmentName1.html("");
							$createdMonthlyVacation1.html("");
							$totalVacation1.html("");
							$usedVacation1.html("");
							$leaveVacation1.html("");
							$idNo1.html("");
							$vacationCode1.html("");

							$memNo.text(memberNo);
							$koreanName1.text(koreanName);
							$departmentName1.text(departmentName);
							$createdMonthlyVacation1
									.val(createdMonthlyVacation);
							$totalVacation1.val(totalVacation);
							$usedVacation1.val(usedVacation);
							$leaveVacation1.val(leaveVacation);
							$idNo1.val(idNo);
							$vacationCode1.val(vacationCode);

							console.log($memNo.val());
						});
	</script>

</body>
</html>










