<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
</head>
<body>
	<div id="wrapper">
		<div th:include="common/sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<br>
							<div class="page-title-box">
								<h3 class="page-title">비밀번호 변경</h3>
							</div>
							<hr>
							<!-- 여기서부터 본문 생성 -->
							
							<form action="/humanResource/password" method="post" id="loginForm"
										class="authentication-form">

									<div class="mb-3">
											<label class="form-label">아이디</label>
											<div class="input-group">
												
												 <input type="text" class="form-control" name="userId"
													id="username" placeholder="아이디 입력">
											</div>
										</div>
										<div class="mb-3">
											<label class="form-label">비밀번호</label>
											<div class="input-group">
												
												 <input type="password" class="form-control" name="userPwd"
													id="phone" placeholder="비밀 번호 입력">
											</div>
										</div>
										<div class="mb-3">
											<label class="form-label">비밀번호 재확인</label>
											<div class="input-group">
										 <input type="password" class="form-control" name="userPwdCheck"
													id="phone" placeholder="비밀번호 재확인 입력">
											</div>
										</div>

										<div class="mb-3 text-center d-grid">
											<button style="width: 470px" class="btn btn-primary"
												type="submit">변경</button>
										</div>
										<div align="center">
										
										</div>
										<br>
									
									</form>
							
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer.html"></div>
		</div>
	</div>
</body>
</html>